<!-- Table -->
<table class="table table-hover mb-0">
  <thead *ngIf="header">
    <tr tosSortGroup [ngModel]="sort" (ngModelChange)="sortChange.emit($event)">
      <th *ngFor="let column of columnsFiltered" tosSort
          [column]="column.pipe.column"
          [label]="column.label"
          [ngClass]="{
            'd-none': column.hideMobile || column.hideTablet,
            'd-sm-table-cell': column.hideMobile,
            'd-lg-table-cell': column.hideTablet,
            'text-nowrap': !column.wide
          }"
          [width]="column.wide ? '' : 1"></th>
    </tr>
  </thead>
  <tbody>
    <a *ngFor="let row of data; trackBy: trackByIndex" class="d-table-row"
       [ngClass]="{ 'bg-primary': themeInvert, 'text-white': themeInvert }"
       [routerLink]="row['Url$'] ? (row['Url$'] | async) : row.Url"
       (click)="onRowMouseClick($event, row)"
       (mouseover)="onRowMouseOver($event, row)"
       (mouseleave)="onRowMouseLeave($event)">
      <td *ngFor="let column of columnsFiltered"
          [class]="column.class"
          [innerHTML]="row | tosTableCell:column:changeDetector | async"
          [ngClass]="{
            'd-none': column.hideMobile || column.hideTablet,
            'd-sm-table-cell': column.hideMobile,
            'd-lg-table-cell': column.hideTablet,
            'text-nowrap': column.wide || column.class?.indexOf('text-nowrap') >= 0
          }"
          [width]="column.wide ? '' : 1">
      </td>
    </a>
  </tbody>
</table>

<!-- Tooltip -->
<app-entity-tooltip class="d-none d-md-block"
                    [debug]="false"
                    [tooltip]="tooltip"></app-entity-tooltip>
