<div class="d-flex align-items-center justify-content-center h-100 w-100" style="background: #002A3A;"
     [ngClass]="{ 'show': updateAvailable && !updateComplete }"
     [style.pointerEvents]="updateAvailable && !updateComplete ? 'initial' : 'none'"
     [style.transitionDuration]="updateAvailable ? '0.25s' : '1s'">
  <div class="position-relative text-center text-white">
    <div *ngIf="installSupported">
      <img class="mb-4 mb-sm-5" src="assets/images/logo_tos.png" />

      <div *ngIf="!installComplete">
        <div class="progress"><div class="progress-bar progress-bar-animated progress-bar-striped w-100"></div></div>
        <div class="mt-2">Loading tos.guru...</div>
      </div>
      <div *ngIf="installComplete">
        <div class="progress">
          <div class="progress-bar progress-bar-animated progress-bar-striped"
               [style.width]="(updateProgress * 100 / updateTotal) + '%'"></div>
        </div>
        <div class="mt-2">
          Updating to the latest patch... <span *ngIf="updateProgress">{{ updateProgress }}/{{ updateTotal }}</span><br/>
          <span class="font-italic text-muted">{{ updateVersion }}</span>
        </div>
      </div>
    </div>
    <div *ngIf="!installSupported">
      <img class="mb-4 mb-sm-5" src="assets/images/emoticons/emoticon_0003.png" />
      <div>It seems your browser doesn't support tos.guru</div>
      <hr class="border-white mt-4 mt-sm-5" />
      <div class="text-left">
        <b>Troubleshooting:</b>
        <ul>
          <li>Please make sure you aren't using Incognito/Private mode</li>
          <li>Alternatively, you can use one of the following browsers:
          </li>
        </ul>
        <div class="d-flex justify-content-around font-weight-bold text-center text-white mt-3">
          <a href="https://www.microsoft.com/en-us/windows/microsoft-edge" target="_blank" class="d-flex flex-column">
            <img class="align-self-center" src="https://raw.githubusercontent.com/alrra/browser-logos/master/src/edge/edge_48x48.png" />
            <span class="mt-1">Edge</span>
          </a>
          <a href="https://www.mozilla.org/" target="_blank" class="d-flex flex-column">
            <img class="align-self-center" src="https://raw.githubusercontent.com/alrra/browser-logos/master/src/firefox/firefox_48x48.png" />
            <span class="mt-1">Firefox</span>
          </a>
          <a href="https://www.google.com/chrome/" target="_blank" class="d-flex flex-column">
            <img class="align-self-center" src="https://raw.githubusercontent.com/alrra/browser-logos/master/src/chrome/chrome_48x48.png" />
            <span class="mt-1">Chrome</span>
          </a>
          <a href="https://www.apple.com/safari/" target="_blank" class="d-flex flex-column">
            <img class="align-self-center" src="https://raw.githubusercontent.com/alrra/browser-logos/master/src/safari/safari_48x48.png" />
            <span class="mt-1">Safari</span>
          </a>
          <a href="https://www.opera.com/" target="_blank" class="d-flex flex-column">
            <img class="align-self-center" src="https://raw.githubusercontent.com/alrra/browser-logos/master/src/opera/opera_48x48.png" />
            <span class="mt-1">Opera</span>
          </a>
        </div>
      </div>
      <hr class="border-white" />
    </div>

    <div class="d-flex justify-content-around font-weight-bold text-center text-white mt-4 mt-sm-5">
      <a href="https://discord.gg/8g76NAA" target="_blank" class="d-flex flex-column">
        <img class="align-self-center" src="assets/images/logo_discord.png" />
        <span class="mt-1">Discord</span>
      </a>
      <a href="https://github.com/rjgtav/tos-database" target="_blank" class="d-flex flex-column">
        <img class="align-self-center" src="assets/images/logo_github_white.png" />
        <span class="mt-1">GitHub</span>
      </a>
      <a href="https://patreon.com/rjgtav" target="_blank" class="d-flex flex-column">
        <img class="align-self-center" src="assets/images/logo_patreon.png" />
        <span class="mt-1">Patreon</span>
      </a>
      <a href="https://www.twitch.tv/rjgtav" target="_blank" class="d-flex flex-column">
        <img class="align-self-center" src="assets/images/logo_twitch.png" />
        <span class="mt-1">Twitch</span>
      </a>
    </div>

    <div class="position-absolute mt-4 mt-sm-5 text-center w-100" *ngIf="isClearCacheAvailable">
      <div>Installation stuck?</div>
      <button type="button" class="btn btn-danger mt-2" (click)="onClearCacheClick()">Clear cache</button>
    </div>
  </div>
</div>
