<div class="d-flex align-items-center justify-content-between">
  <div>
    <h2>Thank you!</h2></div>
  <div>
    <a class="d-none d-sm-inline btn-patreon" href="https://www.patreon.com/bePatron?u=16097026">
      <img src="/assets/images/logo_patreon.png" height="20" width="20" />
      <span>Become a patron</span>
    </a>
  </div>
</div>
<p class="mb-5">Thanks to all tos.guru patrons for keeping the server up and supporting the development!</p>

<div class="d-flex flex-wrap justify-content-around mb-4" *ngIf="PatreonService.PATRONS_KUPOLE.length">
  <div class="d-flex col-6 col-md-4 col-xl-3 align-items-center mb-3" *ngFor="let patron of PatreonService.PATRONS_KUPOLE">
    <img height="64" width="64" class="p-1 rounded-circle" style="background: #F1C40F; box-shadow: 0 0 2rem #F1C40F"
         [src]="'/assets/images/emoticons/' + emoticon(patron, PatreonService.EMOTICONS_KUPOLE)" />
    <span class="ml-3">{{ patron }}</span>
  </div>
</div>

<div class="d-flex flex-wrap justify-content-around mb-4" *ngIf="PatreonService.PATRONS_POPOLION.length">
  <div class="d-flex col-6 col-md-4 col-xl-3 align-items-center mb-3" *ngFor="let patron of PatreonService.PATRONS_POPOLION">
    <img height="60" width="60" class="p-1 rounded-circle" style="background: #9B59B6; box-shadow: 0 0 1.5rem #9B59B6"
         [src]="'/assets/images/emoticons/' + emoticon(patron, PatreonService.EMOTICONS_POPOLION)" />
    <span class="ml-3">{{ patron }}</span>
  </div>
</div>

<div class="d-flex flex-wrap justify-content-around mb-4" *ngIf="PatreonService.PATRONS_TINI.length">
  <div class="d-flex col-6 col-md-4 col-xl-3 align-items-center mb-3" *ngFor="let patron of PatreonService.PATRONS_TINI">
    <img height="56" width="56" class="p-1 rounded-circle" style="background: #3498DB; box-shadow: 0 0 1rem #3498DB"
         [src]="'/assets/images/emoticons/' + emoticon(patron, PatreonService.EMOTICONS_TINI)" />
    <span class="ml-3">{{ patron }}</span>
  </div>
</div>

<div class="d-flex flex-wrap justify-content-around mb-4" *ngIf="PatreonService.PATRONS_KEPA.length">
  <div class="d-flex col-6 col-md-4 col-xl-3 align-items-center mb-3" *ngFor="let patron of PatreonService.PATRONS_KEPA">
    <img height="52" width="52" class="bg-primary p-1 rounded-circle"
         [src]="'/assets/images/emoticons/' + emoticon(patron, PatreonService.EMOTICONS_KEPA)" />
    <span class="ml-3">{{ patron }}</span>
  </div>
</div>

<div class="d-flex justify-content-center mb-5">
  <a class="d-sm-none btn-patreon" href="https://www.patreon.com/bePatron?u=16097026">
    <img src="/assets/images/logo_patreon.png" height="20" width="20" />
    <span>Become a patron</span>
  </a>
</div>
