<table class="table table-hover mb-0">
  <thead class="bg-primary text-nowrap text-white">
    <tr>
      <th *ngFor="let column of columns; trackBy: trackByIndex" class="position-sticky"
          (click)="onSortClick(column.config.key)"
          [width]="column.grow ? '' : '1'">
        {{ column.label }}
        {{ sortIndicator(column.config.key) }}
      </th>
    </tr>
  </thead>
  <tbody>
    <a *ngFor="let row of content; trackBy: trackByClassID" class="d-table-row"
       [routerLink]="row.Url | async">
      <td *ngFor="let column of columns; trackBy: trackByIndex" class="align-middle position-relative"
          [ngClass]="{
            'text-nowrap': !column.grow,
            'image p-1': column.config.image
          }">
        <tos-entity-table-v2-cell [config]="column.config"
                                  [entity]="row"></tos-entity-table-v2-cell>
      </td>
    </a>
  </tbody>
  <tfoot>
    <tr>
      <td [attr.colspan]="columns.length" class="bg-primary position-sticky p-2">
        <ngb-pagination *ngIf="page" class="d-flex justify-content-center"
                        [collectionSize]="pageSize * pageTotal"
                        [page]="page"
                        [pageSize]="pageSize"
                        [maxSize]="3"
                        [boundaryLinks]="true"
                        [ellipses]="false"
                        [rotate]="true"
                        (pageChange)="pageChange.emit($event)"
        ></ngb-pagination>
      </td>
    </tr>
  </tfoot>
</table>
