[submodule "IPFUnpacker"]
	path = IPFUnpacker
	url = git@github.com:rjgtav/IPFUnpacker.git
[submodule "web/node_modules_patched/html2canvas"]
	path = web/node_modules_patched/html2canvas
	url = git@github.com:niklasvh/html2canvas.git
