<!-- Icon -->
<tos-entity-detail-ClassIconGrade [entity]="entity" [size]="'xlarge'"></tos-entity-detail-ClassIconGrade>

<!-- Name -->
<h5 class="position-absolute text-center text-outline text-white w-100" style="top: -36px;">
  {{ card.Name }}
</h5>

<!-- Element and Race -->
<img class="position-absolute" height="40" width="40" [src]="TOSElement.getIcon(card.MonsterElement)" [title]="card.MonsterElement" style="left: 24px; top: 6px;"/>
<img class="position-absolute" height="40" width="40" [src]="TOSMonsterRace.getIcon(card.MonsterRace)" [title]="card.MonsterRace" style="right: 24px; top: 8px;"/>
