<!-- Query -->
<div class="input-group align-items-center position-relative">
  <input type="text" class="border-0 form-control" #input
         [attachOutsideOnClick]="true"
         [(ngModel)]="query"
         [disabled]="!isLoadedSearch"
         [placeholder]="!isLoadedSearch ? 'Loading search...' : 'ClassID, ClassName, Name'"
         (clickOutside)="onFocus(false)"
         (focus)="onFocus(true)"
         (keyup.arrowup)="onKeyboardSelect(-1)"
         (keyup.arrowdown)="onKeyboardSelect(1)"
         (keyup.enter)="onKeyboardNavigate(keyboardSelected)"
         (keyup.esc)="onFocus(false)">

  <div class="d-flex flex-row align-items-center position-absolute" style="right: 0; z-index: 4">
    <a class="pl-3 pr-3 text-white-50"
       [href]="query ? '#clear' : '#'"
       (click)="$event.preventDefault(); query && onClear()">
      <fa-icon [icon]="query ? faTimes : faSearch"></fa-icon>
    </a>

    <button class="btn dropdown-toggle text-white-50"
            type="button"
            [attachOutsideOnClick]="true"
            (click)="isOpenDataset = !isOpenDataset"
            (clickOutside)="isOpenDataset = false">
      {{ queryDataset ? TOSDataSetService.toLabel(queryDataset) : 'All' }}
    </button>
    <div class="dropdown-menu dropdown-menu-right" [ngClass]="{ 'show': isOpenDataset }">
      <a class="dropdown-item" href="#all"
         [ngClass]="{'active': queryDataset == null }"
         (click)="onDatasetChange($event, null)">All</a>

      <div *ngFor="let group of TOSDataSetService.VALUES; index as i">
        <div class="dropdown-header">{{ group.label }}</div>
        <a class="dropdown-item" *ngFor="let option of group.options" [href]="'#' + option"
           [ngClass]="{'active': queryDataset == option }"
           (click)="onDatasetChange($event, option)">{{ TOSDataSetService.toLabel(option) }}</a>
        <div class="dropdown-divider" *ngIf="i < TOSDataSetService.VALUES.length - 1"></div>
      </div>
    </div>
  </div>

</div>

<!-- Results -->
<div class="card position-absolute shadow w-100" style="max-height: calc(100vh - 9rem); overflow-y: auto; z-index: 3"
     *ngIf="isOpen && results && results.length > 0">
  <div class="card-body">
    <table class="table table-hover mb-0">
      <tbody>
        <a *ngFor="let entity of results; index as i" class="d-table-row"
           [ngClass]="{'bg-secondary': keyboardSelected == i }"
           [routerLink]="entity['Url$'] ? (entity['Url$'] | async) : entity.Url"
           (mouseenter)="tooltip = entity"
           (mouseleave)="tooltip = null">

          <!-- Icon -->
          <td width="1" class="p-1">
            <div class="text-center">
              <img height="40" width="40" [src]="entity['Icon$'] ? (entity['Icon$'] | async) : entity.Icon" />
            </div>
          </td>

          <!-- Name -->
          <td class="align-middle">{{ entity.Name }}</td>

          <!-- Dataset -->
          <td width="1" class="align-middle text-right">
            <span class="badge badge-primary">{{ TOSDataSetService.toLabel(entity.Dataset).toUpperCase() }}</span>
          </td>
        </a>
      </tbody>
    </table>

    <div *ngIf="isLoadMore" class="d-flex flex-row justify-content-center mt-3"
         (click)="onLoadMore()">
      <button class="btn btn-primary">Load more</button>
    </div>
  </div>
</div>

<!-- Tooltip -->
<app-entity-tooltip class="d-none d-md-block"
                    [debug]="false"
                    [tooltip]="tooltip"></app-entity-tooltip>
