<div class="row justify-content-center">
  <div *ngFor="let job of jobs; let i = index" class="position-relative" style="width: 4rem"
       (mouseenter)="jobsHover[i] = true; build.tooltip(job, true)"
       (mouseleave)="jobsHover[i] = false; build.tooltip(job, false)">

    <!-- Icon -->
    <tos-entity-detail-JobIcon class="w-100" style="height: 4rem;"
                                [circle]="jobsCircle[i]"
                                [job]="job"
                                [size]="'xs'"></tos-entity-detail-JobIcon>

    <!-- Delete -->
    <a *ngIf="jobsHover[i]" href="#remove"
       class="d-flex align-items-center rounded-circle justify-content-center position-absolute text-white"
       style="background: rgba(0, 0, 0, 0.5); height: 3rem; width: 3rem; left: 0.5rem; top: 0.5rem"
       (click)="onRemoveClick($event, i + 1)">
      <fa-icon [icon]="faTrashAlt"></fa-icon>
    </a>
  </div>

  <!-- Next rank -->
  <app-skill-builder-job-rank *ngIf="build.Rank < RANK_LIMIT" class="mb-3"
                              [rank]="build.Rank + 1"></app-skill-builder-job-rank>

</div>
