<div *ngIf="gem">
  <div class="w-100" *ngIf="divider"><hr></div>
  <tos-input-number class="h5 text-center" *ngIf="enabled"
                    [label]="'Level'"
                    [min]="1" [max]="10"
                    [(model)]="level"></tos-input-number>

  <table class="table table-borderless mb-0">
    <tbody>
      <tr *ngFor="let entry of gem.getBonus(level) | keyvalue">
        <td class="p-1 align-middle" width="1">
          <img [src]="'assets/images/gem_effect_' + entry.key.toLowerCase() + '.png'" [title]="entry.key" />
        </td>
        <td [innerHTML]="entry.value.join('<br/>')"></td>
      </tr>
    </tbody>
  </table>
</div>
