<div *ngIf="build && skill">
  <div class="w-100" *ngIf="divider"><hr></div>

  <tos-input-number class="h5 text-center mt-3 mb-3" *ngIf="input"
                    [label]="'Level'"
                    [labelMax]="build.skillLevelMax$(skill) | async"
                    [min]="0" [max]="(build.skillLevelMax$(skill) | async) + 5"
                    [model]="skillLevel"
                    (modelChange)="onSkillLevelIncrement($event)"></tos-input-number>

  <!-- Description -->
  <tos-entity-detail-Description [entity]="entity"></tos-entity-detail-Description>

  <!-- Skill Effects -->
  <div *ngIf="build">
    <hr />
    <p class="text-multiline mb-0" [innerHTML]="effectHTML | sanitizeHTML"></p>
  </div>

  <!-- Information -->
  <tos-entity-detail-Information [build]="build"
                                 [entity]="entity"
                                 [divider]="true"></tos-entity-detail-Information>

</div>
