<tos-header class="mb-3 mb-sm-5"></tos-header>

<div class="container" style="min-height: calc(100% - 80px)">
  <ng-content></ng-content>
</div>

<tos-footer></tos-footer>

<!--<a class="position-fixed btn mb-3 mr-3 text-white"-->
<!--   style="background: #006bbe; bottom: 0; right: 0; z-index: 1"-->
<!--   href="http://feedback.userreport.com/e23e275c-deb8-4560-9434-070fc22b6208" target="_blank">-->
<!--  <fa-icon [icon]="faCommentAlt"></fa-icon>-->
<!--  <span class="ml-1">Feedback</span>-->
<!--</a>-->
