<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="https://tos.guru/assets/flatly.lib.css">
</head>
<body>
    <div class="row">
        <h1>#{Name}#</h1>
    </div>
    <div class="row">
        <div class="col lg-6">
            <img src="/assets/images/classes/#{$ID_NAME}#_f.gif" />
        </div>
        <div class="col lg-6">
            <div>
                <h3>Description</h3>
                <p>#{Description}#</p>
            </div>
            <div>
                <h3>Information</h3>
                <div><span>Difficulty:&nbsp;</span><span>#{JobDifficulty}#</span></div>
                <div><span>Rank:&nbsp;</span><span>#{Rank}#</span></div>
            </div>
        </div>
    </div>
</body>
</html>