<div class="container" *ngIf="item">

  <div class="row">
    <!-- Name and Material/Type -->
    <app-item-detail-MaterialNameType class="col h2" [entity]="entity"></app-item-detail-MaterialNameType>
  </div>

  <div class="row mb-4">

    <div class="col-lg-6 mb-4 mt-4">
      <div class="card bg-primary m-auto text-white"
           [style.minWidth]="sanitizer.bypassSecurityTrustStyle('calc(' + ICON_WIDTH + 'px + 2.5rem)')"
           [style.maxWidth]="sanitizer.bypassSecurityTrustStyle('calc(' + ICON_WIDTH + 'px + 2.5rem)')">
        <div class="card-body">
          <!-- Icon, Grade and Class -->
          <app-item-detail-ClassIconGrade [entity]="entity" [labels]="true" [size]="'large'"></app-item-detail-ClassIconGrade>

          <!-- Physical and Magical Attack / Defense -->
          <app-item-detail-AttackDefense [entity]="entity"></app-item-detail-AttackDefense>

          <!-- Potential, Durability and Sockets -->
          <app-item-detail-DurabilityPotentialSockets [entity]="entity"></app-item-detail-DurabilityPotentialSockets>

          <!-- Book Content -->
          <ngb-carousel class="row" style="min-height: 25rem;" [wrap]="false" [interval]="false" *ngIf="book">
            <ng-template ngbSlide *ngFor="let page of book.getPages()">
              <p class="pl-5 pr-5 pb-5 text-multiline">{{ page }}</p>
            </ng-template>
          </ngb-carousel>

        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <!-- Description -->
      <h5>Description</h5>
      <p class="mb-0 text-multiline">{{ item.Description }}</p>

      <!-- CoolDown/Level, LifeTime, Weight, Price, Tradability -->
      <app-item-detail-Information [entity]="entity" [header]="true"></app-item-detail-Information>

      <!-- Stats & Unidentified -->
      <app-item-detail-StatsUnidentified [entity]="entity" [header]="true"></app-item-detail-StatsUnidentified>
    </div>

  </div>

  <div class="row">
    <!-- Dropped by -->
    <div class="col-md-6 mb-4" *ngIf="item.Link_Drops">
      <h5>Dropped by</h5>
      <table class="table table-hover">
        <tbody>
        <tr class="cursor-pointer" *ngFor="let row of item.Link_Drops" [routerLink]="'database/monsters/' + row.Monster.$ID">
          <td class="p-1" width="1"><img height="40" width="40" src="{{ 'assets/icons/' + row.Monster.Icon + '.png' }}" /></td>
          <th scope="row">{{ row.Monster.Name }}</th>
          <td width="1">{{ (row.Chance / 100) | percent:'1.1-2' }}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <!-- Required for -->
    <div class="col-md-6 mb-4" *ngIf="item.Link_Recipes">
      <h5>Required for</h5>
      <table class="table table-hover">
        <tbody>
        <tr class="cursor-pointer" *ngFor="let row of item.Link_Recipes" [routerLink]="'database/recipes/' + row.$ID">
          <td class="p-1" width="1"><img height="40" width="40" src="{{ 'assets/icons/' + row.Icon + '.png' }}" /></td>
          <th scope="row">{{ row.Name }}</th>
        </tr>
        </tbody>
      </table>
    </div>

    <!-- Collections -->
    <div class="col-md-6 mb-4" *ngIf="item.Link_Collections">
      <h5>Collections</h5>
      <table class="table table-hover">
        <tbody>
        <tr class="cursor-pointer" *ngFor="let row of item.Link_Collections" [routerLink]="'database/collections/' + row.$ID">
          <td class="p-1" width="1"><img height="40" width="40" src="{{ 'assets/icons/' + row.Icon + '.png' }}" /></td>
          <th scope="row">{{ row.Name }}</th>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
