<div class="container">

  <div class="row">
    <!-- Name and Material/Type -->
    <tos-entity-detail-MaterialNameType class="col h3" [entity]="entity" [idName]="true"></tos-entity-detail-MaterialNameType>
  </div>

  <div class="row mb-4">

    <div class="col-lg-6 mb-4 mt-5 pt-5" *ngIf="card">
      <tos-entity-detail-Card [entity]="card"></tos-entity-detail-Card>
    </div>

    <div class="col-lg-6 mb-4 mt-4" *ngIf="!card">
      <div class="card bg-light m-auto"
           [style.minWidth]="('calc(' + ICON_WIDTH + 'px + 2.5rem)') | sanitizeCSS"
           [style.maxWidth]="('calc(' + ICON_WIDTH + 'px + 2.5rem)') | sanitizeCSS">
        <div class="card-body">
          <!-- Icon, Grade and Class -->
          <tos-entity-detail-ClassIconGrade [entity]="entity" [labels]="true" [size]="equipment ? 'large' : 'small'"></tos-entity-detail-ClassIconGrade>

          <!-- Physical and Magical Attack / Defense -->
          <tos-entity-detail-AttackDefense [anvilLevel]="anvilLevel"
                                           [transcendLevel]="transcendLevel"
                                           [entity]="entity"></tos-entity-detail-AttackDefense>

          <!-- Bonus Stats and Unidentified -->
          <tos-entity-detail-BonusStatsUnidentified [divider]="true"
                                                    [entity]="entity"></tos-entity-detail-BonusStatsUnidentified>

          <!-- Potential, Durability and Sockets -->
          <tos-entity-detail-DurabilityPotentialSockets [entity]="entity"></tos-entity-detail-DurabilityPotentialSockets>

          <!-- Book Pages -->
          <tos-entity-detail-Book *ngIf="book?.getPages()"
                                  [entity]="entity"></tos-entity-detail-Book>

          <!-- Gem Bonus -->
          <tos-entity-detail-Gem *ngIf="gem"
                                 [entity]="gem"
                                 [header]="true"></tos-entity-detail-Gem>

          <!-- Recipe Materials -->
          <tos-entity-detail-Table *ngIf="entity['Link_Materials']"
                                   class="table-borderless"
                                   [column]="'Link_Materials'"
                                   [divider]="true"
                                   [entity]="entity"
                                   [header]="'Materials'"
                                   [link]="'Item'"
                                   (tooltipChange)="tooltip = $event"></tos-entity-detail-Table>

        </div>
      </div>
    </div>

    <div class="col-lg-6">

      <!-- Recipe Source (Crafted by) -->
      <tos-entity-detail-Table *ngIf="entity['Link_RecipeTarget']"
                               class="table-borderless"
                               [column]="'Link_RecipeTarget'"
                               [entity]="entity"
                               [header]="'Crafted by'"
                               (tooltipChange)="tooltip = $event"></tos-entity-detail-Table>

      <!-- Description -->
      <tos-entity-detail-Description [divider]="entity['Link_RecipeTarget']"
                                     [entity]="entity"
                                     [header]="true"></tos-entity-detail-Description>

      <!-- CoolDown/Level, LifeTime, Weight, Price, Tradability -->
      <tos-entity-detail-Information [entity]="entity"
                                     [divider]="entity['Description'] || entity['DescriptionHTML']"
                                     [header]="true"></tos-entity-detail-Information>

      <!-- Set -->
      <tos-entity-detail-BonusStatsUnidentified *ngIf="equipment && equipment.Link_Set"
                                                [entity]="equipment.Link_Set"
                                                [header]="true"></tos-entity-detail-BonusStatsUnidentified>

      <!-- Stats -->
      <tos-entity-detail-Stats *ngIf="card || monster"
                               [entity]="entity"></tos-entity-detail-Stats>

      <!-- Enhancement -->
      <tos-entity-detail-Enhancement *ngIf="equipment && (anvilAvailable || transcendAvailable)"
                                     [(anvilLevel)]="anvilLevel"
                                     [(transcendLevel)]="transcendLevel"
                                     [entity]="entity"></tos-entity-detail-Enhancement>

      <!-- Recipe Target (Produces) -->
      <tos-entity-detail-Table *ngIf="entity['TargetAsList']"
                               class="table-borderless"
                               [column]="'TargetAsList'"
                               [divider]="true"
                               [entity]="entity"
                               [header]="'Produces'"
                               (tooltipChange)="tooltip = $event"></tos-entity-detail-Table>

    </div>

  </div>

  <div class="row">
    <!-- Dropped by -->
    <tos-entity-detail-Table *ngIf="entity['Link_MonsterDrops']"
                             class="col-md-6 mb-4"
                             [column]="'Link_MonsterDrops'"
                             [entity]="entity"
                             [header]="'Dropped by'"
                             [link]="'Monster'"
                             (tooltipChange)="tooltip = $event"></tos-entity-detail-Table>

    <!-- Found in -->
    <tos-entity-detail-Table *ngIf="entity['Link_Cubes']"
                             class="col-md-6 mb-4"
                             [column]="'Link_Cubes'"
                             [entity]="entity"
                             [header]="'Found in'"
                             (tooltipChange)="tooltip = $event"></tos-entity-detail-Table>

    <!-- Required for -->
    <tos-entity-detail-Table *ngIf="entity['Link_RecipeMaterial'] && !recipe"
                             class="col-md-6 mb-4"
                             [column]="'Link_RecipeMaterial'"
                             [entity]="entity"
                             [header]="'Required for'"
                             (tooltipChange)="tooltip = $event"></tos-entity-detail-Table>

    <!-- Collections -->
    <tos-entity-detail-Table *ngIf="entity['Link_Collections']"
                             class="col-md-6 mb-4"
                             [column]="'Link_Collections'"
                             [entity]="entity"
                             [header]="'Collections'"
                             (tooltipChange)="tooltip = $event"></tos-entity-detail-Table>

    <!-- Items -->
    <tos-entity-detail-Table *ngIf="entity['Link_Items']"
                             class="col-md-6 mb-4"
                             [column]="'Link_Items'"
                             [entity]="entity"
                             [header]="cube ? 'Drops' : 'Items'"
                             (tooltipChange)="tooltip = $event"></tos-entity-detail-Table>

    <!-- Drops -->
    <tos-entity-detail-Table *ngIf="entity['Link_Drops']"
                             class="col-md-6 mb-4"
                             [column]="'Link_Drops'"
                             [entity]="entity"
                             [header]="'Drops'"
                             [link]="'Item'"
                             (tooltipChange)="tooltip = $event"></tos-entity-detail-Table>

    <!-- Spawn Locations -->
    <tos-entity-detail-Table *ngIf="entity['Link_Spawns']"
                             class="col-md-6 mb-4"
                             [column]="'Link_Spawns'"
                             [entity]="entity"
                             [header]="'Spawn Locations'"
                             [link]="'Map'"
                             (tooltipChange)="tooltip = $event"></tos-entity-detail-Table>

  </div>

</div>

<!-- Tooltip -->
<app-entity-tooltip class="d-none d-md-block"
                    [debug]="false"
                    [tooltip]="tooltip"></app-entity-tooltip>
