.navbar-nav .nav-item {
  position: relative;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.nav-link {
  cursor: pointer;
  transition: none;
}
.navbar-nav .nav-link:hover {
  color: #006bbe;
}

.tos-link {
  color: white !important;
  padding: 0 !important;
  text-transform: uppercase;
}
.tos-link:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  background: #006bbe;
  width: 0;
  height: 2.6px;
  transition: all .2s ease-in;
}

.tos-link:hover.tos-link:before,
.tos-link.active.tos-link:before {
  width: 100%;
}
