<nav class="navbar navbar-dark mb-5" style="background: #002A3A;">
  <a class="navbar-brand mr-4 p-0 order-0" [routerLink]="routerLink('')">
    <img src="assets/images/logo_tos.png" height="47" style="transform: scale(1.25)" />
  </a>
  <div class="navbar-expand m-auto m-md-0 order-3 order-md-1 pb-2 pb-md-0 pt-3 pt-md-0">
    <ul class="navbar-nav">
      <!--
        <a class="dropdown-item" style="color: grey" routerLink="game/achievements">Achievements</a>
        <a class="dropdown-item" style="color: grey" routerLink="game/treasures">Treasure Chests</a>
        <a class="dropdown-item" style="color: grey" routerLink="game/exp">EXP Tables</a>
        <a class="dropdown-item" style="color: grey" routerLink="game/npcs">NPCs</a>
        <a class="dropdown-item" style="color: grey" routerLink="game/quests">Quests</a>
        <a class="dropdown-item" style="color: grey" routerLink="game/world">World Map</a>
      -->

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle tos-link"
           [attachOutsideOnClick]="true"
           (click)="isOpenDatabase = !isOpenDatabase; $event.preventDefault()"
           (clickOutside)="isOpenDatabase = false"
           routerLinkActive="active">Database
          <div class="dropdown-menu" [ngClass]="{ 'show': isOpenDatabase }">
            <div *ngFor="let group of TOSDataSet.VALUES; index as i">
              <div class="dropdown-header">{{ group.label }}</div>
              <a class="dropdown-item" *ngFor="let option of group.options"
                 [routerLink]="routerLink('database/' + TOSDataSet.toUrl(option))">{{ TOSDataSet.toLabel(option) }}</a>
              <div class="dropdown-divider" *ngIf="i < TOSDataSet.VALUES.length - 1"></div>
            </div>
          </div>
        </a>

      </li>

      <li class="nav-item">
        <a class="nav-link tos-link" [routerLink]="routerLink('simulator')" routerLinkActive="active">Skill Simulator</a>
      </li>

      <li class="nav-item d-lg-none">
        <a class="nav-link tos-link" (click)="isOpenSearch = !isOpenSearch">
          &nbsp;<fa-icon [icon]="faSearch"></fa-icon>&nbsp;
        </a>
      </li>

    </ul>
  </div>

  <div class="d-none d-lg-block flex-grow-1 justify-content-center mt-3 mt-lg-0 order-5 order-lg-3"
       [ngClass]="{ 'd-flex': isOpenSearch }">
      <tos-header-search class="flex-grow-1 ml-lg-3 mr-lg-3"></tos-header-search>
  </div>

  <div class="order-2 w-100 d-md-none"></div>
  <div class="order-4 w-100 d-lg-none"></div>

  <div class="navbar-expand order-1 order-md-3">
    <ul class="navbar-nav align-items-center">
      <!-- Region selector -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle tos-link" style="text-transform: initial;"
           [attachOutsideOnClick]="true"
           (click)="isOpenRegion = !isOpenRegion; $event.preventDefault()"
           (clickOutside)="isOpenRegion = false">{{ RegionService.Region }}
          <div class="dropdown-menu" [ngClass]="{ 'show': isOpenRegion }">
            <a *ngFor="let region of RegionService.Regions" class="dropdown-item" style="text-transform: initial;"
               [href]="'#' + region"
               [ngClass]="{ 'active': RegionService.Region == region }"
               (click)="regionSelect(region)">{{ region }}</a>
          </div>
        </a>
      </li>
      <a class="nav-item nav-link ml-1 mr-1 d-none d-md-inline-block" href="http://feedback.userreport.com/e23e275c-deb8-4560-9434-070fc22b6208" target="_blank" ngbTooltip="Feedback" placement="bottom">
        <fa-icon [icon]="faCommentAlt"></fa-icon>
      </a>
      <a class="nav-item nav-link ml-1 mr-1" (click)="theme.toggle()" ngbTooltip="Toggle Theme" placement="bottom">
        <fa-icon [icon]="theme.is(Theme.LIGHT) ? faMoon : faSun"></fa-icon>
      </a>
      <a class="nav-item nav-link ml-1 mr-1" href="https://github.com/rjgtav/tos-database" target="_blank">
        <fa-icon [icon]="faGithub" [size]="'2x'"></fa-icon>
      </a>
    </ul>
  </div>

  <ngx-loading-bar class="position-absolute w-100" style="left: 0; bottom: 0"
                   [color]="'#006bbe'"
                   [fixed]="false"
                   [includeSpinner]="true"></ngx-loading-bar>
</nav>

<div *ngIf="isGithub" class="bg-info position-absolute mb-0 p-2 text-center text-white w-100" style="bottom: -2.5rem;">
  We're moving! rjgtav.github.io/tos-database will soon move to <a class="text-white" href="https://tos.guru/">tos.guru</a>
</div>
