<nav class="navbar navbar-dark mb-5" style="background: #002A3A;">
  <a class="navbar-brand mr-4 p-0" routerLink="/">
    <img src="/assets/images/logo_tos.png" height="47" style="transform: scale(1.25)" />
  </a>
  <div class="navbar-expand">
    <ul class="navbar-nav">
      <!--
        <a class="dropdown-item" style="color: grey" routerLink="game/achievements">Achievements</a>
        <a class="dropdown-item" style="color: grey" routerLink="game/classes">Classes</a>
        <a class="dropdown-item" style="color: grey" routerLink="game/treasures">Treasure Chests</a>
        <a class="dropdown-item" style="color: grey" routerLink="game/exp">EXP Tables</a>
        <a class="dropdown-item" style="color: grey" routerLink="game/npcs">NPCs</a>
        <a class="dropdown-item" style="color: grey" routerLink="game/quests">Quests</a>
        <a class="dropdown-item" style="color: grey" routerLink="game/world">World Map</a>
      -->

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle tos-link"
           [attachOutsideOnClick]="true"
           (click)="isOpenDatabase = !isOpenDatabase; $event.preventDefault()"
           (clickOutside)="isOpenDatabase = false"
           routerLinkActive="active">Database
          <div class="dropdown-menu" [ngClass]="{ 'show': isOpenDatabase }">
            <a class="dropdown-item" routerLink="database/books">Books</a>
            <a class="dropdown-item" routerLink="database/cards">Cards</a>
            <a class="dropdown-item" routerLink="database/collections">Collections</a>
            <a class="dropdown-item" routerLink="database/cubes">Cubes</a>
            <a class="dropdown-item" routerLink="database/equipment">Equipment</a>
            <a class="dropdown-item" routerLink="database/equipment-sets">Equipment Sets</a>
            <a class="dropdown-item" routerLink="database/gems">Gems</a>
            <a class="dropdown-item" routerLink="database/items">Items</a>
            <a class="dropdown-item" routerLink="database/monsters">Monsters</a>
            <a class="dropdown-item" routerLink="database/recipes">Recipes</a>
          </div>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link tos-link" routerLink="simulator" routerLinkActive="active">Skill Simulator</a>
      </li>
    </ul>
  </div>
  <div class="navbar-expand ml-auto">
    <div class="navbar-nav align-items-center">
      <a class="nav-item nav-link ml-1 mr-1 d-none d-md-inline" href="https://treeofsavior.com/">
        <fa-icon [icon]="['fas', 'sign-out-alt']"></fa-icon>
        treeofsavior.com
      </a>
      <a class="nav-item nav-link ml-1 mr-1" (click)="theme.toggle()" ngbTooltip="Toggle Theme" placement="bottom">
        <fa-icon [icon]="['fas', theme.is(Theme.LIGHT) ? 'moon' : 'sun']"></fa-icon>
      </a>
      <a class="nav-item nav-link ml-1 mr-1" href="https://github.com/rjgtav/tos-database" target="_blank">
        <fa-icon [icon]="['fab', 'github']" [size]="'2x'"></fa-icon>
      </a>
    </div>
  </div>
</nav>

