<div *ngIf="attribute || item || job || monster || skill">
  <div class="w-100" *ngIf="divider"><hr></div>
  <h5 *ngIf="header">Information</h5>

  <!-- Level/Difficulty/CoolDown and Toggleable/LifeTime/Rank/Size/SP -->
  <div class="row pt-2 text-nowrap" *ngIf="attribute || item || job || monster || skill">
    <div class="col" *ngIf="attribute || equipment || job || monster">
      <h6 *ngIf="attribute">Maximum Level: {{ attribute.LevelMax }}</h6>
      <h6 *ngIf="job" class="d-flex flex-row">
        <span class="badge badge-primary pt-1 pb-1 text-left">Difficulty</span>
        <span class="col pt-1 pb-1 text-right">{{ job.JobDifficulty }}</span>
      </h6>
      <h6 *ngIf="equipment || monster">Level {{ equipment?.RequiredLevel || monster?.Level }}</h6>
    </div>
    <div class="col" *ngIf="skill || item && !equipment"><h6>
      <fa-icon class="mr-1" [icon]="['far', 'clock']"></fa-icon>
      {{ ((item ? item.TimeCoolDown : skillCoolDown) | tosTime) || 'No cooldown' }}</h6>
    </div>

    <div class="col text-right">
      <h6 *ngIf="attribute">{{ attribute.IsToggleable ? 'Toggleable' : '' }}</h6>
      <h6 *ngIf="item">{{ item.TimeLifeTime ? ('Expires in ' + (item.TimeLifeTime | tosTime)) : 'No expiration' }}</h6>
      <h6 *ngIf="job" class="d-flex flex-row">
        <span class="badge badge-primary pt-1 pb-1 text-left">Rank</span>
        <span class="col pt-1 pb-1 text-right">{{ job.Rank }}</span>
      </h6>
      <h6 *ngIf="monster">{{ monster.Size }}</h6>
      <h6 *ngIf="skill">{{ skillSP }}&nbsp;<fa-icon style="color: #319AFF" [icon]="['fas', 'tint']"></fa-icon></h6>
    </div>
  </div>

  <!-- Weight/Type/OverHeat and Price/Shinobi+Simony -->
  <div class="row text-nowrap" *ngIf="item || job || skill">
    <div class="col" *ngIf="item"><h6>
      <fa-icon class="mr-1" [icon]="['fas', 'weight-hanging']"></fa-icon>
      {{ (item.Weight | number) || 0 }}</h6>
    </div>
    <div class="col" *ngIf="job">
      <h6 *ngIf="job" class="d-flex flex-row">
        <span class="badge badge-primary pt-1 pb-1 text-left">Role</span>
        <span class="col pt-1 pb-1 text-right">{{ job.JobType ? job.JobType.join(', ') : '' }}</span>
      </h6>
    </div>
    <div class="col" *ngIf="skill && skill.OverHeat"><h6>
      <fa-icon class="ml-1 mr-1" [icon]="['fas', 'bolt']"></fa-icon>
      {{ skill.OverHeat }} overheat</h6>
    </div>

    <div class="col text-right" *ngIf="item || skill">
      <h6 *ngIf="item" class="tos-icon tos-icon-price">{{ item.Price }}</h6>
      <h6 *ngIf="skill && (skill.IsEnchanter || skill.IsPardoner || skill.IsRunecaster || skill.IsShinobi)">
        {{ skill.IsEnchanter
            ? 'Craftable by Enchanter'
            : skill.IsPardoner
                ? 'Craftable by Pardoner'
                : skill.IsRunecaster
                  ? 'Craftable by Runecaster'
                  : skill.IsShinobi
                    ? 'Cloneable by Shinobi'
                    : '' }}
      </h6>
    </div>
  </div>

  <!-- Element and Race -->
  <div class="row text-nowrap" *ngIf="monster">
    <div class="col">
      <h6>
        <img class="align-middle mr-1"
             height="24"
             width="24"
             [src]="'assets/images/element_' + entity['Element'].toString().toLowerCase() + '.png'" />
        <span>{{ entity['Element'] }}</span>
      </h6>
    </div>
    <div class="col">
      <h6 class="text-right">
        <span>{{ monster.Race }}</span>
        <img class="align-middle ml-1"
             height="24"
             width="24"
             [src]="'assets/images/monster_race_' + monster.Race.toString().toLowerCase() + '.png'" />
      </h6>
    </div>
  </div>

  <!-- Tradability -->
  <div class="row mt-1" *ngIf="item">
    <div class="col">
      <table class="table table-sm text-center mb-0">
        <tbody>
        <tr>
          <td [class]="item.isTradable(TOSItemTradability.MARKET) ? 'table-success' : 'table-secondary'" >{{ TOSItemTradability.MARKET }}</td>
          <td [class]="item.isTradable(TOSItemTradability.PLAYER) ? 'table-success' : 'table-secondary'" >{{ TOSItemTradability.PLAYER }}</td>
          <td [class]="item.isTradable(TOSItemTradability.SHOP) ? 'table-success' : 'table-secondary'" >{{ TOSItemTradability.SHOP }}</td>
          <td [class]="item.isTradable(TOSItemTradability.TEAM) ? 'table-success' : 'table-secondary'" >{{ TOSItemTradability.TEAM }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
