<!-- Points -->
<div class="row justify-content-center mb-2" [style.opacity]="rank > 0 ? 1 : 0">
  <div class="badge badge-primary" style="font-size: inherit; background: #634539">
    {{ statsPoints }} points
  </div>
</div>

<div class="row justify-content-center">
  <div *ngFor="let stat of stats" class="position-relative" style="width: 4rem">

    <!-- Icon -->
    <img class="position-absolute w-100" style="left: 0; top: 0; cursor: pointer"
         [src]="TOSStatService.icon(stat)" />

    <!-- Label -->
    <div class="position-relative font-weight-bold text-center w-100" style="color: #634539">
      {{ stat }}
    </div>

    <!-- Value -->
    <form>
      <input type="number" max="9999" min="{{ build.StatsBase[stat] }}" name="value"
             class="position-relative bg-transparent border-0 font-weight-bold text-center text-outline text-white w-100"
             style="font-size: 1.5rem; line-height: 4rem;"
             [attr.disabled]="!rank ? '' : null"
             [ngModel]="rank ? build.Stats[stat] : ''"
             (change)="onIncrementChange($event, stat)"
              />
    </form>

    <!-- Plus and Minus -->
    <div class="d-flex flex-row w-100 justify-content-around mt-1 tos-skill-controls">
      <a [ngClass]="{ 'invisible': !rank || !build.statsIncrementLevelAvailable(stat, 1) }" href="#plus"
         (click)="onIncrementClick($event, stat, 1)">
        <fa-icon class="align-top" [icon]="['fas', 'plus-circle']"></fa-icon>
      </a>
      <a [ngClass]="{ 'invisible': !rank || !build.statsIncrementLevelAvailable(stat, -1) }" href="#minus"
         (click)="onIncrementClick($event, stat, -1)">
        <fa-icon class="align-bottom" [icon]="['fas', 'minus-circle']"></fa-icon>
      </a>
    </div>

  </div>
</div>
