input[type=number]:focus {
  outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.tos-skill-controls fa-icon {
  font-size: 1.25rem;
  line-height: 1;
}
