<div class="container text-muted mb-3 mb-xl-0 pb-5 pb-xl-3" style="border-top-width: 2px">
  <hr>
  <div class="row">
    <div class="col-6 col-lg-3 order-0 text-left">
      <a href="http://imc.co.kr/?mid=IMC_EN" target="_blank" ngbTooltip="© IMCGAMES CO. LTD.">
        <img height="32" [src]="'assets/images/logo_imc' + (isLightTheme ? '.png' : '_white.png')" />
      </a>
    </div>
    <a class="col-12 col-lg-6 order-2 text-center order-lg-1 d-flex" ngbTooltip="Clear cache" href="#clearCache"
       (click)="onClearCacheClick($event)">
      <div class="align-self-center flex-grow-1 text-muted">{{ updateVersion }}</div>
    </a>
    <div class="col-6 col-lg-3 order-1 text-right order-lg-2 mb-3 mb-lg-0">
      <a href="https://discord.gg/8g76NAA" target="_blank" ngbTooltip="Thanks @Crevox, @Jiyuu, @KriLanze, @Palemoon, @Tekguel and more!">
        <img class="align-self-center mr-2" height="32" src="assets/images/logo_discord.png" />
      </a>
      <a href="https://github.com/rjgtav/tos-database" target="_blank" ngbTooltip="Open-source!">
        <img class="align-self-center mr-2" height="32" [src]="'assets/images/logo_github' + (isLightTheme ? '.png' : '_white.png')" />
      </a>
      <a href="https://patreon.com/rjgtav" target="_blank" ngbTooltip="Support the website">
        <img class="align-self-center mr-2" height="32" src="assets/images/logo_patreon.png" />
      </a>
      <a href="https://www.twitch.tv/rjgtav" target="_blank" ngbTooltip="Follow the development" container="body">
        <img class="align-self-center mr-2" height="32" src="assets/images/logo_twitch.png" />
      </a>
    </div>
  </div>
</div>
