<div *ngIf="!equipmentSet">
  <div class="m-auto" [style.width]="ICON_WIDTH + 'px'">
    <div class="w-100" [style.height]="ICON_HEIGHT + 'px'">
      <div class="position-relative d-flex align-items-center justify-content-center w-100 h-100">
        <img class="position-absolute"
             style="max-height: 100%; max-width: 100%; left: 0; top: 0"
             [src]="'assets/images/equipment_grade_' + (equipment.Grade + '').toLowerCase() + '_' + size + '.png'"
             *ngIf="equipment"
        />
        <img class="position-relative m-auto"
             style="max-height: 100%; max-width: 100%;"
             [src]="Icon"
        />
        <img class="position-absolute"
             style="height: 533px; width: 363px; transform: translateY(-35px);"
             [src]="'assets/images/card_frame_' + (card.TypeCard + '').toLowerCase() + '.png'"
             *ngIf="card"
        />
      </div>
    </div>

    <div class="row justify-content-around ml-auto mr-auto" *ngIf="equipment"
         [ngClass]="{ 'mt-2': !labels }">
      <div *ngFor="let classTree of [TOSClassTree.ARCHER, TOSClassTree.SCOUT, TOSClassTree.SWORDSMAN, TOSClassTree.CLERIC, TOSClassTree.WIZARD]" class="col-4 p-0"
           [ngClass]="{ 'mt-3': labels, 'mt-1': !labels }">
        <img [src]="'assets/images/equipment_class_' + classTree.toString().toLowerCase() + '_' + (equipment.IsUsableBy(classTree) ? 'yes' : 'no') + '.png'" style="vertical-align: top" />
        <span class="ml-1" [ngClass]="{ 'text-muted': !equipment.IsUsableBy(classTree) }" *ngIf="labels">
          {{ classTree.toString() }}
        </span>
      </div>
    </div>
  </div>

  <div class="row ml-auto mr-auto justify-content-center" *ngIf="skill">
    <div *ngFor="let stance of skill.RequiredStance">
      <img [alt]="stance.Name" [title]="stance.Name" [src]="stance.Icon" />
    </div>
  </div>

</div>
