<div *ngIf="item || monster">
  <div class="w-100" *ngIf="divider"><hr></div>
  <h5 *ngIf="header">Information</h5>

  <!-- CoolDown/Level and LifeTime/Size -->
  <div class="row pt-2 text-nowrap">
    <div class="col" *ngIf="item && !equipment"><h6>
      <fa-icon class="mr-1" [icon]="['far', 'clock']"></fa-icon>
      {{ (item.TimeCoolDown | tosTime) || 'No cooldown' }}</h6>
    </div>
    <div class="col" *ngIf="equipment || monster"><h6>
      Level {{ equipment?.RequiredLevel || monster?.Level }}</h6>
    </div>

    <div class="col text-right">
      <h6 *ngIf="item">{{ item.TimeLifeTime ? ('Expires in ' + (item.TimeLifeTime | tosTime)) : 'No expiration' }}</h6>
      <h6 *ngIf="monster">{{ monster.Size }}</h6>
    </div>
  </div>

  <!-- Weight and Price -->
  <div class="row text-nowrap" *ngIf="item">
    <div class="col"><h6>
      <fa-icon class="mr-1" [icon]="['fas', 'weight-hanging']"></fa-icon>
      {{ (item.Weight | number) || 0 }}</h6>
    </div>
    <div class="col text-right">
      <h6 class="tos-icon tos-icon-price">{{ item.Price }}</h6>
    </div>
  </div>

  <!-- Element and Race -->
  <div class="row text-nowrap" *ngIf="monster">
    <div class="col">
      <h6>
        <img class="align-middle mr-1"
             height="24"
             width="24"
             [src]="'assets/images/element_' + monster.Element.toString().toLowerCase() + '.png'" />
        <span>{{ monster.Element }}</span>
      </h6>
    </div>
    <div class="col">
      <h6 class="text-right">
        <span>{{ monster.Race }}</span>
        <img class="align-middle ml-1"
             height="24"
             width="24"
             [src]="'assets/images/monster_race_' + monster.Race.toString().toLowerCase() + '.png'" />
      </h6>
    </div>
  </div>

  <!-- Tradability -->
  <div class="row mt-1" *ngIf="item">
    <div class="col">
      <table class="table table-sm text-center mb-0">
        <tbody>
        <tr>
          <td [class]="item.isTradable(TOSItemTradability.MARKET) ? 'table-success' : 'table-secondary'" >{{ TOSItemTradability.MARKET }}</td>
          <td [class]="item.isTradable(TOSItemTradability.PLAYER) ? 'table-success' : 'table-secondary'" >{{ TOSItemTradability.PLAYER }}</td>
          <td [class]="item.isTradable(TOSItemTradability.SHOP) ? 'table-success' : 'table-secondary'" >{{ TOSItemTradability.SHOP }}</td>
          <td [class]="item.isTradable(TOSItemTradability.TEAM) ? 'table-success' : 'table-secondary'" >{{ TOSItemTradability.TEAM }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
