<div class="card bg-primary text-white" *ngIf="item">
  <div class="card-body">

    <!-- Base Information -->
    <div class="row">
      <!-- Icon, Grade and Class -->
      <app-item-detail-ClassIconGrade [entity]="entity" [size]="'small'"></app-item-detail-ClassIconGrade>

      <div class="col">
        <!-- Name and Material/Type -->
        <app-item-detail-MaterialNameType class="h5" [entity]="entity"></app-item-detail-MaterialNameType>

        <!-- CoolDown/Level, LifeTime, Weight, Price, Tradability -->
        <app-item-detail-Information [entity]="entity"></app-item-detail-Information>

      </div>
    </div>

    <!-- Description -->
    <div class="row" *ngIf="!equipment">
      <div class="col">
        <div class="w-100"><hr></div>
        <p class="card-text text-multiline">{{ item.Description }}</p>
      </div>
    </div>

    <!-- Physical and Magical Attack / Defense -->
    <app-item-detail-AttackDefense [entity]="entity"></app-item-detail-AttackDefense>

    <!-- Stats & Unidentified -->
    <app-item-detail-StatsUnidentified [entity]="entity"></app-item-detail-StatsUnidentified>

    <!-- Potential, Durability and Sockets -->
    <app-item-detail-DurabilityPotentialSockets [entity]="entity"></app-item-detail-DurabilityPotentialSockets>

  </div>
</div>
