<div class="container text-muted mb-3 mb-xl-0 pb-5 pb-xl-3" style="border-top-width: 2px">
  <hr>
  <div class="row">
    <div class="col-12 col-lg-6 text-center text-lg-left pb-1">
      <div class="w-100">
        Made with <fa-icon class="text-danger" [icon]="['fas', 'heart']"></fa-icon> by&nbsp;
        <a href="https://www.twitch.tv/rjgtav" ngbTooltip="Support the channel!" target="_blank">
          <span [ngStyle]="{ 'color': isLightTheme ? 'black' : 'white' }">rjgtav</span>&nbsp;
          <span style="color: #6441A4"><fa-icon [icon]="faTwitch"></fa-icon></span>
        </a>
      </div>
      <div class="w-100">
        With the help of&nbsp;
        <a href="https://discord.gg/8g76NAA" ngbTooltip="Thanks @Crevox, @Jiyuu, @KriLanze, @Palemoon, @Tekguel and more!" target="_blank">
          <span [ngStyle]="{ 'color': isLightTheme ? 'black' : 'white' }">awesome people</span>&nbsp;
          <span style="color: #7289DA"><fa-icon [icon]="faDiscord"></fa-icon></span>
        </a>
      </div>
    </div>
    <div class="col-12 col-lg-6 text-center text-lg-right">
      <a href="https://treeofsavior.com/" target="_blank">Tree of Savior</a> is being developed by&nbsp;
      <a href="http://imc.co.kr/?mid=IMC_EN" target="_blank"><img [src]="'assets/images/logo_imc' + (isLightTheme ? '.png' : '_white.png')" /></a>
    </div>
  </div>
</div>
