<div class="container text-muted pb-3" style="border-top-width: 2px">
  <hr>
  <div class="row">
    <div class="col-12 col-lg-6 text-center text-md-left pb-1">
      Made with <fa-icon class="text-danger" [icon]="['fas', 'heart']"></fa-icon> by&nbsp;
      <a href="https://www.twitch.tv/rjgtav" ngbTooltip="Support the channel!" target="_blank">
        <span [ngStyle]="{ 'color': isLightTheme ? 'black' : 'white' }">rjgtav</span>&nbsp;
        <span [ngStyle]="{ 'color': isLightTheme ? '#6441A4' : '#7F53D1' }"><fa-icon [icon]="faTwitch"></fa-icon></span>
      </a>
      with the help of&nbsp;
      <a href="https://discord.gg/8g76NAA" ngbTooltip="Thanks @Crevox, @Jiyuu, @KriLanze, @Palemoon, @Tekguel and more!">
        <span [ngStyle]="{ 'color': isLightTheme ? 'black' : 'white' }">awesome people</span>&nbsp;
        <span [ngStyle]="{ 'color': isLightTheme ? '#6441A4' : '#7F53D1' }"><fa-icon [icon]="faDiscord"></fa-icon></span>
      </a>
    </div>
    <div class="col-12 col-lg-6 text-center text-md-right">
      Tree of Savior is being developed by&nbsp;
      <a href="http://imc.co.kr/?mid=IMC_EN" target="_blank"><img [src]="'assets/images/logo_imc' + (isLightTheme ? '.png' : '_white.png')" /></a>
    </div>
  </div>
</div>
