<div class="mb-4 text-center">
  <!-- Desktop & Tablet -->
  <div class="row d-none d-md-flex">
    <!-- Filter -->
    <div *ngFor="let filterGroup of $config.filterGroups" class="form-group col-6" tosFilterGroup [column]="$config.filterColumn" [disabled]="search" [ngModel]="pageFilter" (ngModelChange)="onFilterChange($event)">
      <label>{{ filterGroup.label }}</label>
      <div class="btn-group d-block">
        <button *ngFor="let value of filterGroup.values" class="btn btn-primary mb-2 mb-xl-0" type="button" tosFilter [value]="value">{{ value }}</button>
      </div>
    </div>

    <!-- Search -->
    <div class="form-group col-6" [ngClass]="{ 'm-auto': !$config.filterColumn }">
      <label>Search</label>
      <div class="input-group m-auto" style="max-width: 25rem">
        <input type="text" class="form-control" placeholder="Name, ClassID, ClassName" [(ngModel)]="searchText" (ngModelChange)="onSearchChange($event)" (keyup.esc)="onSearchToggle()">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button" [disabled]="!search" (click)="onSearchToggle()">Clear</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile -->
  <div class="btn-group d-md-none" [ngClass]="{ 'show': toggleFilter }" >
    <!-- Filter -->
    <button type="button" class="btn btn-primary dropdown-toggle" (click)="toggleFilter = !toggleFilter" *ngIf="!search && $config.filterColumn">{{ pageFilter ? pageFilter.value : 'All' }}</button>
    <div tosFilterGroup [column]="$config.filterColumn" [ngModel]="pageFilter" (ngModelChange)="onFilterChange($event)" class="dropdown-menu" [ngClass]="{ 'show': toggleFilter }">
      <div *ngFor="let filterGroup of $config.filterGroups; let i = index">
        <div class="dropdown-header" *ngIf="$config.filterGroups.length > 1">{{ filterGroup.label }}</div>
        <button *ngFor="let value of filterGroup.values" tosFilter class="dropdown-item" [value]="value">{{ value }}</button>
        <div class="dropdown-divider" *ngIf="i < $config.filterGroups.length - 1"></div>
      </div>
    </div>

    <!-- Search -->
    <button class="btn btn-primary ml-2" type="button" (click)="onSearchToggle()" [hidden]="search"><fa-icon [icon]="['fas', 'search']"></fa-icon></button>
    <div class="input-group m-auto" [hidden]="!search">
      <input class="form-control" placeholder="Search" type="text" [(ngModel)]="searchText" (ngModelChange)="onSearchChange($event)" (keyup.esc)="onSearchToggle()" #searchInputMobile >
      <div class="input-group-append">
        <button class="btn btn-primary" type="button" (click)="onSearchToggle()">Clear</button>
      </div>
    </div>
  </div>
</div>

<!-- Table -->
<table class="table table-hover">
  <thead>
    <tr tosSortGroup [ngModel]="pageSort" (ngModelChange)="onSortChange($event)" [disabled]="search">
      <th *ngFor="let column of $config.tableColumns" tosSort [column]="column.value" [label]="column.label" [width]="column.width ? column.width : ''" scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr class="cursor-pointer" *ngFor="let row of data" [routerLink]="row.$ID" (mouseenter)="tooltip = row" (mouseleave)="tooltip = null" >
      <td *ngFor="let column of $config.tableColumns" [class]="column.class ? column.class : ''" [style]="column.style ? column.style : ''" [style.whiteSpace]="column.width == 1 ? 'nowrap' : ''">
        <span *ngIf="column.type == TOSListTableType.BADGE">
          <span class="tos-equipment-grade mr-1" [style.background]="column.transform(row[column.value])"></span>
          {{ row[column.value] }}
        </span>
        <img *ngIf="column.type == TOSListTableType.ICON" height="40" width="40" src="{{ 'assets/icons/' + row[column.value] + '.png' }}" />
        <span *ngIf="column.type == TOSListTableType.TEXT">{{ row[column.value] }}</span>
      </td>
    </tr>
  </tbody>
</table>

<!-- Pagination -->
<ngb-pagination
  class="d-flex justify-content-center"
  [collectionSize]="dataSize"
  [page]="page"
  [pageSize]="pageSize"
  [maxSize]="5"
  [boundaryLinks]="true"
  [ellipses]="false"
  [rotate]="true"
  (pageChange)="onPageChange($event)"
>
</ngb-pagination>

<!-- Tooltip -->
<app-item-tooltip [debug]="false" [entity]="tooltip"></app-item-tooltip>
