<!-- Filter -->
<div class="text-center mb-4">
  <!-- Tabs (Desktop & Tablet) -->
  <div tosFilterGroup class="btn-group d-none d-md-inline-block" [column]="'Type'" [ngModel]="pageFilter" (ngModelChange)="onFilterChange($event)" *ngIf="!search">
    <button tosFilter class="btn btn-primary" type="button" [value]="TOSItemType.$ANY$">{{ TOSItemType.$ANY$.label }}</button>
    <button tosFilter class="btn btn-primary" type="button" [value]="TOSItemType.BOOK">{{ TOSItemType.BOOK.label }}</button>
    <button tosFilter class="btn btn-primary" type="button" [value]="TOSItemType.CUBE">{{ TOSItemType.CUBE.label }}</button>
    <button tosFilter class="btn btn-primary" type="button" [value]="TOSItemType.DRUG">{{ TOSItemType.DRUG.label }}</button>
    <button tosFilter class="btn btn-primary" type="button" [value]="TOSItemType.EVENT">{{ TOSItemType.EVENT.label }}</button>
    <button tosFilter class="btn btn-primary" type="button" [value]="TOSItemType.MATERIAL">{{ TOSItemType.MATERIAL.label }}</button>
    <button tosFilter class="btn btn-primary" type="button" [value]="TOSItemType.QUEST">{{ TOSItemType.QUEST.label }}</button>
  </div>

  <!-- Dropdown (Mobile) -->
  <div class="btn-group d-md-none" [ngClass]="{ 'show': toggleFilter }" *ngIf="!search" >
    <button type="button" class="btn btn-primary dropdown-toggle" (click)="toggleFilter = !toggleFilter">{{ TOSItemType.valueOf(pageFilter.value).label }}</button>
    <div tosFilterGroup class="dropdown-menu" [ngClass]="{ 'show': toggleFilter }" [column]="'Type'" [ngModel]="pageFilter" (ngModelChange)="onFilterChange($event)">
      <button tosFilter class="dropdown-item" [value]="TOSItemType.$ANY$">{{ TOSItemType.$ANY$.label }}</button>
      <button tosFilter class="dropdown-item" [value]="TOSItemType.BOOK">{{ TOSItemType.BOOK.label }}</button>
      <button tosFilter class="dropdown-item" [value]="TOSItemType.CUBE">{{ TOSItemType.CUBE.label }}</button>
      <button tosFilter class="dropdown-item" [value]="TOSItemType.DRUG">{{ TOSItemType.DRUG.label }}</button>
      <button tosFilter class="dropdown-item" [value]="TOSItemType.EVENT">{{ TOSItemType.EVENT.label }}</button>
      <button tosFilter class="dropdown-item" [value]="TOSItemType.MATERIAL">{{ TOSItemType.MATERIAL.label }}</button>
      <button tosFilter class="dropdown-item" [value]="TOSItemType.QUEST">{{ TOSItemType.QUEST.label }}</button>
    </div>
  </div>

  <!-- Search -->
  <button class="btn btn-primary ml-2" type="button" (click)="onSearchToggle()" [hidden]="search"><fa-icon [icon]="['fas', 'search']"></fa-icon></button>

  <div class="input-group m-auto w-50" [hidden]="!search">
    <input class="form-control" placeholder="Search" type="text" [(ngModel)]="searchText" (ngModelChange)="onSearchChange($event)" (keyup.esc)="onSearchToggle()" #searchInput>
    <div class="input-group-append">
      <button class="btn btn-primary" type="button" (click)="onSearchToggle()"><fa-icon [icon]="['fas', 'times']"></fa-icon></button>
    </div>
  </div>
</div>

<!-- List -->
<table class="table table-hover">
  <thead>
    <tr tosSortGroup [ngModel]="pageSort" (ngModelChange)="onSortChange($event)" [disabled]="search">
      <th scope="col" width="1"></th>
      <th tosSort [column]="'$ID'" scope="col" width="1"></th>
      <th tosSort [column]="'Name'" scope="col"></th>
      <th tosSort [column]="'Type'" scope="col" width="1"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of data" [routerLink]="row.$ID" (mouseenter)="tooltipItem = row" (mouseleave)="tooltipItem = null" >
      <td class="p-1"><img height="40" width="40" src="{{ 'assets/icons/' + row.Icon + '.png' }}" /></td>
      <th scope="row">{{ row.$ID }}</th>
      <td>{{ row.Name }}</td>
      <td style="white-space: nowrap">{{ row.Type.toString() }}</td>
    </tr>
  </tbody>
</table>

<!-- Pagination -->
<ngb-pagination
  class="d-flex justify-content-center"
  [collectionSize]="dataSize"
  [page]="page"
  [pageSize]="pageSize"
  [maxSize]="5"
  [boundaryLinks]="true"
  [ellipses]="false"
  [rotate]="true"
  (pageChange)="onPageChange($event)"
>
</ngb-pagination>

<!-- Tooltip -->
<app-item-tooltip [TOSItem]="tooltipItem"></app-item-tooltip>
