<table class="table table-borderless table-sm mb-0">
  <thead>
    <tr>
      <th class="p-0 w-50"></th>
      <th class="p-0 w-50"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ '소켓' | translate }}</td>
      <td class="text-center">0 / {{ Sockets }}</td>
    </tr>
    <tr>
      <td>{{ '포텐셜' | translate }}</td>
      <td><div class="rounded text-center text-outline text-white" style="background: #528273">9 / 9</div></td>
    </tr>
    <tr>
      <td>{{ '내구도' | translate }}</td>
      <td><div class="rounded text-center text-outline text-white" style="background: #B55108">{{ Durability }} / {{ Durability }}</div></td>
    </tr>
  </tbody>
</table>
