<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="https://tos.guru/assets/flatly.lib.css">
</head>
<body>
    <div class="row">
        <h1>#{Name}#</h1>
    </div>
    <div class="row">
        <div class="col lg-6"></div>
        <div class="col lg-6">
            <h3>set</h3>
            <div><span>2+ Pieces&nbsp;</span><span>#{Bonus2}#</span></div>
            <div><span>3+ Pieces&nbsp;</span><span>#{Bonus3}#</span></div>
            <div><span>4+ Pieces&nbsp;</span><span>#{Bonus4}#</span></div>
            <div><span>5+ Pieces&nbsp;</span><span>#{Bonus5}#</span></div>
            <div><span>6+ Pieces&nbsp;</span><span>#{Bonus6}#</span></div>
            <div><span>7+ Pieces&nbsp;</span><span>#{Bonus7}#</span></div>
        </div>
    </div>
</body>
</html>