<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="https://tos.guru/assets/flatly.lib.css">
</head>
<body>
    <h1>Equipment Sets</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>$ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr class="d-table-row">
                <td><a href="/#{region}#/#{url}#">#{$ID}#</a></td>
                <td><a href="/#{region}#/#{url}#">#{Name}#</a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>