<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../../../assets/flatly.lib.css">
</head>
<body>
    <div class="row">
        <h1>#{Name}#</h1>
    </div>
    <div class="row">
        <div class="col lg-6">
            <img src="#{Icon}#" />
            <h3>Content</h3>
            <p>#{Text}#</p>
        </div>
        <div class="col lg-6">
            <div>
                <h3>Description</h3>
                <p>#{Description}#</p>
            </div>
            <div>
                <h3>Information</h3>
                <div><span>Cooldown:</span><span>#{TimeCoolDown}#</span></div>
                <div><span>Lifetime:</span><span>#{TimeLifeTime}#</span></div>
                <div><span>Weight:</span><span>#{Weight}#</span></div>
                <div><span>Silver:</span><span>#{Price}#</span></div>
            </div>
        </div>
    </div>
</body>
</html>