<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="https://tos.guru/assets/flatly.lib.css">
</head>
<body>
    <div class="row">
        <h1>#{Name}#</h1>
    </div>
    <div class="row">
        <div class="col lg-6">
            <img src="#{Icon}#" />
            <p>#{Description}#</p>
        </div>
        <div class="col lg-6">
            <div>
                <h3>Information</h3>
                <div><span>Maximum Level:&nbsp;</span><span>#{LevelMax}#</span></div>
                <div><span>Toggleable:&nbsp;</span><span>#{IsToggleable}#</span></div>
            </div>
        </div>
    </div>
</body>
</html>