:host {
  display: block;
  max-width: 100%;
  min-width: 25%;
}

.btn {
  border: none !important;
}

.dropdown-item {
  cursor: pointer;
}

.dropdown-menu {
  max-height: 10*2rem;
  overflow-y: auto;
}

