<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="https://tos.guru/assets/flatly.lib.css">
</head>
<body>
    <div class="row">
        <h1>#{Name}#</h1>
    </div>
    <div class="row">
        <div class="col lg-6">
            <img src="#{Icon}#" />
            <hr/>
            <div><span>Magical Attack:&nbsp;</span><span>#{Stat_ATTACK_MAGICAL}#</span></div>
            <div><span>Maximum Physical Attack:&nbsp;</span><span>#{Stat_ATTACK_PHYSICAL_MAX}#</span></div>
            <div><span>Minimum Physical Attack:&nbsp;</span><span>#{Stat_ATTACK_PHYSICAL_MIN}#</span></div>
            <div><span>Magical Defense:&nbsp;</span><span>#{Stat_DEFENSE_MAGICAL}#</span></div>
            <div><span>Physical Defense:&nbsp;</span><span>#{Stat_DEFENSE_PHYSICAL}#</span></div>
            <hr/>
            <div><span>Potential:&nbsp;</span><span>#{Potential}#/#{Potential}#</span></div>
            <div><span>Durability:&nbsp;</span><span>#{Durability}#/#{Durability}#</span></div>
            <div><span>Sockets:&nbsp;</span><span>#{Sockets}#/#{SocketsLimit}#</span></div>

        </div>
        <div class="col lg-6">
            <div>
                <h3>Description</h3>
                <p>#{Description}#</p>
            </div>
            <div>
                <h3>Information</h3>
                <div><span>Cooldown:&nbsp;</span><span>#{TimeCoolDown}#</span></div>
                <div><span>Lifetime:&nbsp;</span><span>#{TimeLifeTime}#</span></div>
                <div><span>Weight:&nbsp;</span><span>#{Weight}#</span></div>
                <div><span>Silver:&nbsp;</span><span>#{Price}#</span></div>
            </div>
        </div>
    </div>
</body>
</html>