<h2>Welcome to tos.guru!</h2>

<div class="row">

  <div class="col-lg-6">
    <p>
      このサイトは<a href="https://tos.guru/">TosGuru様</a>のサイトをベースとしております。<br/>
      各種ご質問やお問い合わせは<a href="https://twitter.com/ebisuke">ebisuke</a>までお願いします。<br/>
      クローンサイトとなりますため、TosGuru様へ直接のご質問はご遠慮ください。<br/>
      <a href="https://github.com/ebisuke/tos-database">github</a>
    </p>

    <p>
       <a [routerLink]="routerLink('simulator')">スキルシミュレータ</a>は現在検証中です。<br/>
    </p>

    <p>
      A Database is also available, and currently supports the following datasets:
    </p>
    <ul *ngFor="let group of TOSDataSetService.VALUES; index as i">
      <li *ngFor="let option of group.options">
        <a [routerLink]="routerLink('database/' + TOSDataSetService.toUrl(option))">{{ TOSDataSetService.toLabel(option) }}</a>
      </li>
    </ul>

    <p>

    </p>
  </div>

  <div class="col-lg-6">
    <div class="card bg-light">
      <div class="card-header">
        更新履歴
      </div>
      <div class="card-body" style="max-height: calc(100vh - 16rem); overflow-y: auto">
        <li>2021/06/**
          テストテスト
        </li>

      </div>
    </div>
  </div>

</div>
