<div *ngIf="equipmentSet">
  <div *ngIf="divider" class="w-100"><hr></div>
  <h5 *ngIf="header">Set</h5>

  <tos-entity-table *ngIf="header"
                    [columns]="COLUMNS"
                    [data]="equipmentSet"
                    [header]="false"
                    [hideMobile]="true"
                    [hideTablet]="true"
                    [themeInvert]="true"></tos-entity-table>

  <table class="table table-borderless">
    <tbody>
      <tr *ngFor="let entry of equipmentSet.Bonus | keyvalue">
        <th scope="row" class="text-nowrap" width="1">{{ entry.key }}+ Pieces</th>
        <td><div *ngFor="let bonus of entry.value" [innerHTML]="bonus.ValueHTML"></div></td>
      </tr>
    </tbody>
  </table>
</div>
