fa-icon {
  font-size: 1.5rem;
  line-height: 1;
}

.tos-skill {
  width: 4rem;
  height: 4rem;
}
.tos-skill img {
  width: inherit;
  height: inherit;
  user-select: none;
}
.tos-skill h4 {
  bottom: 0;
}
