<div class="m-auto" style="width: 215px; height: 3rem">
  <div *ngIf="skill">
    <div class="position-relative d-flex flex-row">
      <!-- Plus and Minus -->
      <div class="position-absolute d-flex d-sm-none flex-column h-100 justify-content-around tos-skill-controls">
        <a [ngClass]="{ 'invisible': !skillIncrementAvailablePlus }" href="#plus"
           (click)="onIncrementClick($event, 1)">
          <fa-icon class="align-top" [icon]="['fas', 'plus-circle']"></fa-icon>
        </a>
        <a [ngClass]="{ 'invisible': !skillIncrementAvailableMinus }" href="#minus"
           (click)="onIncrementClick($event, -1)">
          <fa-icon class="align-bottom" [icon]="['fas', 'minus-circle']"></fa-icon>
        </a>
      </div>

      <!-- Icon & Level -->
      <div class="position-relative tos-skill mr-1" style="cursor: pointer"
           (click)="onIncrementClick($event, 1, true)"
           (contextmenu)="onIncrementClick($event, -1, true)">
        <img [src]="skill.Icon" />
        <h6 class="font-weight-bold mb-0 pointer-disable position-absolute text-center text-outline text-white w-100">
          {{ skillLevel + '/' + skillLevelMax }}
        </h6>
      </div>

      <!-- Name & Attributes -->
      <div class="d-flex flex-column">
        <span>{{ skill.Name }}</span>
        <div>
          <img *ngFor="let attribute of attributes" class="tos-attribute"
               [src]="attribute.Icon"
               [style.opacity]="attribute.unlockAvailable(build) ? 1 : 0.5"
               (mouseenter)="$event.relatedTarget && build.tooltipAttributeShow(attribute, true)"
               (mouseleave)="$event.relatedTarget && build.tooltipAttributeShow(attribute, false)"/>
        </div>
      </div>
    </div>
  </div>
</div>
