<div class="card d-flex flex-column flex-sm-row flex-wrap justify-content-center justify-content-sm-start mb-3 shadow">

  <!-- Job header -->
  <div class="tos-job bg-primary justify-content-between pr-0 text-white">
    <div class="d-flex">

      <!-- Job Icon & Circle -->
      <tos-entity-detail-JobIcon [circle]="circles.length" style="width: 3rem; height: 3rem;"
                                 [job]="job"
                                 [size]="'xs'"
                                 (mouseenter)="build.tooltip(job, true)"
                                 (mouseleave)="build.tooltip(job, false)"></tos-entity-detail-JobIcon>

      <!-- Job Name & Job Attributes -->
      <div class="pl-2">
        <a class="text-white" [style.lineHeight]="attributes ? '' : '3rem'"
           [routerLink]="job.Url">
          {{ job.Name }}
        </a>

        <br *ngIf="attributes"/>

        <a *ngFor="let attribute of attributes; index as i; trackBy: TOSEntity.trackBy" [routerLink]="attribute.Url">
          <img class="tos-attribute"
               [src]="attribute.Icon"
               [style.opacity]="attributesUnlock && attributesUnlock[i] ? 1 : 0.5"
               (mouseenter)="build.tooltip(attribute, true)"
               (mouseleave)="build.tooltip(attribute, false)"/>
        </a>
      </div>

    </div>

    <!-- Skill Points -->
    <div class="d-none d-sm-block position-absolute badge badge-primary rounded-0" style="top: -0.5rem; right: -0.5rem; font-size: inherit">
      {{ skillPoints }} points
    </div>
    <div class="d-flex d-sm-none align-items-center pr-3">
      <a href="#remove"
         class="d-flex align-items-center justify-content-center bg-white text-primary rounded-circle mr-2"
         style="background: rgba(0, 0, 0, 0.5); height: 2.5rem; width: 2.5rem; z-index: 1"
         (click)="onRemoveClick($event)">
        <fa-icon [icon]="faTrashAlt"></fa-icon>
      </a>

      <span style="z-index: 1; pointer-events: none">{{ skillPoints }} points</span>
    </div>
  </div>

  <!-- Mobile: open/close -->
  <div class="d-sm-none position-absolute text-white" style="left: -2px; padding: 10px; pointer-events: none">
    <div class="d-flex align-items-center" style="height: 3rem;">
      <fa-icon class="position-absolute d-block d-sm-none mr-1 text-white" [icon]="isOpen ? faMinus : faPlus"></fa-icon>
    </div>
  </div>

  <!-- Job Skills -->
  <app-skill-builder-skill *ngFor="let skill of skills; trackBy: TOSEntity.trackBy" class="tos-skill"
                           [build]="build"
                           [job]="job"
                           [skill]="skill"></app-skill-builder-skill>

</div>
