<div class="card shadow mb-2">

  <!-- Skill Points -->
  <div class="d-none d-sm-block position-absolute badge badge-primary rounded-0" style="top: 0; right: 0; font-size: inherit">
    {{ skillPoints }} points
  </div>
  <div class="d-sm-none position-absolute bg-primary text-white w-100" style="padding: 10px">
    <div class="d-flex justify-content-end align-items-center" style="height: 3rem;">

      <a href="#remove"
         class="d-flex align-items-center justify-content-center bg-white text-primary rounded-circle mr-2"
         style="background: rgba(0, 0, 0, 0.5); height: 2.5rem; width: 2.5rem"
         (click)="onRemoveClick($event)">
        <fa-icon [icon]="faTrashAlt"></fa-icon>
      </a>

      <span>{{ skillPoints }} points</span>

    </div>
  </div>


  <!-- Job header -->
  <div class="position-absolute bg-primary text-white pl-4 pl-sm-3 pr-2" style="padding: 10px" (click)="isOpen = !isOpen">
    <div class="d-flex flex-row jus align-items-center" style="width: calc(215px - 1rem);">

      <!-- Job Icon & Circle -->
      <app-skill-builder-job-icon [circle]="circles.length" style="width: 3rem; height: 3rem;"
                                  [job]="job"
                                  [size]="'xs'"></app-skill-builder-job-icon>

      <!-- Job Name & Job Attributes -->
      <div class="pl-2">

        <span [style.lineHeight]="attributes ? '' : '3rem'">
          {{ job.Name }}
        </span>

        <br *ngIf="attributes"/>

        <img *ngFor="let attribute of attributes" class="mr-1 tos-attribute"
             [src]="attribute.Icon"
             [style.opacity]="attribute.unlockAvailable(build) ? 1 : 0.5"
             (mouseenter)="$event.relatedTarget && build.tooltipAttributeShow(attribute, true)"
             (mouseleave)="$event.relatedTarget && build.tooltipAttributeShow(attribute, false)"/>

      </div>

    </div>
  </div>

  <!-- Mobile: open/close -->
  <div class="d-sm-none position-absolute text-white" style="padding: 10px; left: -2px">
    <div class="d-flex align-items-center" style="height: 3rem;">
      <fa-icon class="position-absolute d-block d-sm-none mr-1 text-white" [icon]="isOpen ? faMinus : faPlus"></fa-icon>
    </div>
  </div>

  <!-- Job Skills -->
  <div class="card-body">

    <div class="row flex-column flex-sm-row flex-wrap ml-auto justify-content-center justify-content-sm-start"
         style="margin-bottom: -1rem;">

      <app-skill-builder-skill [ngClass]="{ 'mb-0': !isOpen, 'mb-3': isOpen }"></app-skill-builder-skill>

      <!-- Choose skills -->
      <app-skill-builder-skill *ngFor="let skill of skills" class="mb-3"
                               [ngClass]="{ 'd-none': !isOpen, 'd-sm-block': !isOpen }"
                               [build]="build"
                               [job]="job"
                               [skill]="skill"
                               (mouseenter)="$event.relatedTarget && build.tooltipSkillShow(skill, true)"
                               (mouseleave)="$event.relatedTarget && build.tooltipSkillShow(skill, false)"></app-skill-builder-skill>

    </div>
  </div>

</div>
