<div class="card shadow mb-3">

  <!-- Skill Points -->
  <div class="d-none d-sm-block position-absolute badge badge-primary rounded-0" style="top: -0.5rem; right: -0.5rem; font-size: inherit">
    {{ skillPoints }} points
  </div>
  <div class="d-sm-none position-absolute bg-primary text-white w-100" style="padding: 10px">
    <div class="d-flex justify-content-end align-items-center" style="height: 3rem;">

      <a href="#remove"
         class="d-flex align-items-center justify-content-center bg-white text-primary rounded-circle mr-2"
         style="background: rgba(0, 0, 0, 0.5); height: 2.5rem; width: 2.5rem; z-index: 1"
         (click)="onRemoveClick($event)">
        <fa-icon [icon]="faTrashAlt"></fa-icon>
      </a>

      <span style="z-index: 1">{{ skillPoints }} points</span>

    </div>
  </div>


  <!-- Job header -->
  <div class="position-absolute bg-primary text-white pl-4 pl-sm-3 pr-0" style="padding: 10px" (click)="isOpen = !isOpen">
    <div class="d-flex flex-row jus align-items-center" style="width: calc(215px + 8px - 1rem);">

      <!-- Job Icon & Circle -->
      <tos-entity-detail-JobIcon [circle]="circles.length" style="width: 3rem; height: 3rem;"
                                 [job]="job"
                                 [size]="'xs'"
                                 (mouseenter)="build.tooltip(job, true)"
                                 (mouseleave)="build.tooltip(job, false)"></tos-entity-detail-JobIcon>

      <!-- Job Name & Job Attributes -->
      <div class="pl-2">

        <a class="text-white" [style.lineHeight]="attributes ? '' : '3rem'"
           [routerLink]="job.Url">
          {{ job.Name }}
        </a>

        <br *ngIf="attributes"/>

        <a *ngFor="let attribute of attributes; index as i; trackBy: TOSEntity.trackBy" [routerLink]="attribute.Url">
          <img class="tos-attribute"
               [src]="attribute.Icon"
               [style.opacity]="attributesUnlock && attributesUnlock[i] ? 1 : 0.5"
               (mouseenter)="build.tooltip(attribute, true)"
               (mouseleave)="build.tooltip(attribute, false)"/>
        </a>

      </div>

    </div>
  </div>

  <!-- Mobile: open/close -->
  <div class="d-sm-none position-absolute text-white" style="padding: 10px; left: -2px">
    <div class="d-flex align-items-center" style="height: 3rem;">
      <fa-icon class="position-absolute d-block d-sm-none mr-1 text-white" [icon]="isOpen ? faMinus : faPlus"></fa-icon>
    </div>
  </div>

  <!-- Job Skills -->
  <div class="card-body" style="padding-top: 10px; padding-bottom: 10px">

    <div class="row flex-column flex-sm-row flex-wrap ml-auto justify-content-center justify-content-sm-start"
         style="margin-bottom: -1rem;">

      <app-skill-builder-skill [ngClass]="{ 'mb-0': !isOpen, 'mb-3': isOpen }"></app-skill-builder-skill>

      <!-- Choose skills -->
      <app-skill-builder-skill *ngFor="let skill of skills; trackBy: TOSEntity.trackBy" class="mb-3"
                               [ngClass]="{ 'd-none': !isOpen, 'd-sm-block': !isOpen }"
                               [build]="build"
                               [job]="job"
                               [skill]="skill"></app-skill-builder-skill>

    </div>
  </div>

</div>
