<h2>Welcome to tos.guru!</h2>

<div class="row">

  <div class="col-lg-6">
    <p>
      This is an open-source database for Tree of Savior, a game being developed by IMC Games.<br/>
    </p>

    <p>
      It is still in active development, taking multiple updates per week, with the latest patches and new features.<br/>
      <span class="badge badge-success">Re:Build</span> patch is already supported, and currently available only on <b>kTEST</b> and <b>kTOS</b> regions, which can be changed at the top right<br/>
    </p>

    <p>
      Currently, a <a [routerLink]="routerLink('simulator')">Skill Simulator</a> is available, making use of the in-game formulas to calculate skill damage, skill SP costs and attribute unlock logic.<br/>
    </p>

    <p>
      A Database is also available, and currently supports the following datasets:
    </p>
    <ul *ngFor="let group of TOSDataSetService.VALUES; index as i">
      <li *ngFor="let option of group.options">
        <a [routerLink]="routerLink('database/' + TOSDataSetService.toUrl(option))">{{ TOSDataSetService.toLabel(option) }}</a>
      </li>
    </ul>

    <p>
      <b>Found an issue?</b><br/>
      <b>Try clearing your browser's cache by hitting <kbd>Ctrl + Shift + R</kbd> or the appropriate shortcut</b><br/>
      <b>If still present, please report it through the Feedback or via PM on Discord</b>
    </p>
  </div>

  <div class="col-lg-6">
    <div class="card bg-light">
      <div class="card-header">
        Changelog
      </div>
      <div class="card-body" style="max-height: calc(100vh - 16rem); overflow-y: auto">
        <h6>2019-01-04</h6>
        <ul>
          <li>[Fixed] Search is working again. Thanks @Muniqui</li>
          <li>[Fixed] Equipment required classes and item tradability are showing correctly again. Thanks @Hillgarm and @PetroSpark</li>
        </ul>

        <h6>2019-01-03</h6>
        <ul>
          <li>[Update] Updated iTOS, jTOS, kTOS and kTEST to the latest versions</li>
          <li>[Improved] Added patch version to the loading screen and to the footer</li>
        </ul>

        <h6>2019-01-02</h6>
        <ul>
          <li>[Fixed] Page no longer shows white when switching regions and using the dark theme. Thanks @Crevox</li>
          <li>[Fixed] Internal database no longer gets into a state with incomplete data</li>
          <li>[Fixed] Offline mode is now working as intended</li>
        </ul>

        <h6>2019-01-01</h6>
        <ul>
          <li>Happy New Year! 🐷</li>
          <li>[Fixed] Collections are no longer showing the wrong items in rare situations of duplicate IDs. Thanks @Zeucleio</li>
          <li>[Fixed] Browsers now correctly prompt for translating the page when a foreign region is selected</li>
          <li>[Fixed] Search no longer crashes when returning Equipment Sets. Thanks @Hillgarm and @Sujiru</li>
          <li>[Fixed] Restored stat attributes for some discontinued items (e.g. CAN05_101). Thanks @Sujiru</li>
          <li>[Improved] Significantly reduced the overall RAM usage (by around 50%)</li>
          <li>[Improved] Significantly reduced loading time when no new updates are available</li>
          <li>[Improved] Reduced search loading time by removing the 'Description' field from the index</li>
          <li>[Improved] Updated cache from a time-based to a hash-based implementation, which will reduce the overall network traffic</li>
          <li>[New] tos.guru is now available offline! Note: in order to save disk, images will be cached on demand</li>
          <li>[New] tos.guru can now be installed on Mobile and on PC (Browser Menu -> Add to Home Screen)</li>
          <li>[New] Added a new fullscreen loading animation when new database updates are available</li>
          <li>[New] Added a new 'Update is Available' indicator to the top menu</li>
          <li>[New] I now have a Patreon! Become a patron and support the development of tos.guru</li>
          <li>[Removed] Older browsers no longer support tos.guru. For more information, check the browsers in green <a href="https://caniuse.com/serviceworkers">here</a></li>
        </ul>

        <h6>2018-12-26</h6>
        <ul>
          <li>[Fixed] Skills of higher circles are now showing up correctly on the simulator. Thanks @Ramon</li>
          <li>[Fixed] Search accuracy improved quite significantly. Thanks @Crevox</li>
        </ul>

        <h6>2018-12-25</h6>
        <ul>
          <li>Ho ho ho 🎅</li>
          <li>[Fixed] Gems stats are no longer messed up. Thanks @WhiteDwarf, @AmberRei and @Ramon</li>
        </ul>

        <h6>2018-12-24</h6>
        <ul>
          <li>[Fixed] Removed some more deprecated attributes. Thanks @Ramon</li>
          <li>[Fixed] Fixed some simulator attribute unlock propagation issues. Thanks @Ramon</li>
          <li>[Improved] Added attributes to Classes and Skills list pages</li>
          <li>[Improved] Improved tooltip's position so it doesn't cover the important bits as often</li>
        </ul>

        <h6>2018-12-23</h6>
        <ul>
          <li>[Fixed] Removed deprecated attributes that were re-introduced with the last update. Thanks @Ramon, @Shinobi, @Umineko and @Zeucleio</li>
          <li>[Fixed] Classes on the Simulator are now ordered by ID instead of by Name. Thanks @Crevox</li>
        </ul>

        <h6>2018-12-22</h6>
        <ul>
          <li>[Updated] Updated iTOS, jTOS, kTOS and kTEST to the latest versions</li>
          <li>[Fixed] Rank 1 classes no longer show duplicated on the Simulator. Thanks @PetroSpark, @Zeucleio, @Montz and everyone else who reported!</li>
          <li>[Fixed] Shields/Shirts/Pants are no longer missing their +40 Anvil Enhancement bonus. Thanks @Crevox</li>
          <li>[Fixed] Added missing elements to some skills descriptions (e.g. Monk's Energy Blast on Re:Build). Thanks @4lkruzeth</li>
          <li>[Fixed] As per Re:Build, Cannons are now a 2-Handed Weapon on the Equipment list Type filter. Thanks @Hillgarm and @Laynaria</li>
          <li>[Fixed] Mergen skills no longer show Crossbow as a possible stance. Thanks @TerminalEssence</li>
          <li>[Fixed] Added missing class attributes (e.g. SwordMastery_DEForATK). Thanks @Hillgarm</li>
          <li>[Fixed] Removed extra 0s on some skill description values (e.g. Paladin's Stone Skin on kTEST at level 3)</li>
          <li>[Improved] Initial loading time has been reduced even further, however RAM requirements have increased. This will be addressed on the next update.</li>
          <li>[Improved] Header dropdown menus now open immediately on mouse hover</li>
          <li>[Improved] Improved search performance and reliability</li>
          <li>[Improved] Entity detail pages now have more details for referenced entities (e.g. each collection on Tanu Flower's detail page now shows all the other items which also belong to those collections)</li>
          <li>[Improved] Set the appropriate document language, to trigger the browser's Translate button. Note: this only works when opening the page, not when switching regions. Thanks @Nekorin</li>
          <li>[Removed] Removed Google Adsense test code, as Google continues rejecting serving ads to the website.</li>
        </ul>

        <h6>2018-12-06</h6>
        <ul>
          <li>[Updated] kTOS is now on Re:Build</li>
          <li>[Updated] Updated iTOS, jTOS, kTOS and kTEST to the latest versions</li>
        </ul>

        <h6>2018-12-01</h6>
        <ul>
          <li>[Fixed] Double Punch is no longer crashing on the detail page</li>
          <li>[Improved] Improved initial loading time and when changing regions</li>
          <li>[Updated] Updated iTOS, jTOS, kTOS and kTEST to the latest versions</li>
        </ul>

        <h6>2018-11-24</h6>
        <ul>
          <li>[Fixed] kTEST Simulator no longer crashes on certain classes. Thanks @Laynaria</li>
          <li>[Fixed] kTEST Gems (red, green, blue, white) are now showing all stat bonuses. Thanks @KriLanze + @Cotoco</li>
          <li>[Fixed] iTOS, jTOS and kTOS are now able to level their skills again on the Skill detail page. Thanks @TermiNekoEXence</li>
        </ul>

        <h6>2018-11-21</h6>
        <ul>
          <li>[Fixed] Magical Attack no longer appears duplicated on an Equipment stats. Thanks @Crevox</li>
          <li>[Fixed] Skill SP calculation now uses the in-game formulas</li>
          <li>[Fixed] Search now returns the correct results even on slower machines. Thanks @TermiNekoEXence</li>
          <li>[Fixed] Removed invalid search results from the search index. Thanks @Mia</li>
          <li>[Fixed] Monster detail page is no longer crashing</li>
          <li>[New] Added SP formulas to Skill detail page</li>
          <li>[New] Added a homepage with a brief introduction and a changelog</li>
          <li>[Updated] Updated iTOS, jTOS, kTOS and kTEST to the latest versions</li>
        </ul>

        <h6>2018-11-16</h6>
        <ul>
          <li>[Fixed] Chaplain is no longer considered a Secret class. Thanks @Laynaria</li>
          <li>[Fixed] 'Summon'-like skills have been purged from all databases. Thanks @Hillgarm</li>
          <li>[Fixed] Re:Build Simulator builds are again able to be shared around</li>
          <li>[Improved] When no more skill points are available, and you left click a skill at level &lt; levelMax, it now goes back to 0. Thanks @PetroSpark</li>
          <li>[Improved] Added 'Usable by Scout' icon to equipment tooltip and detail pages</li>
          <li>[Improved] Updated cards' frames to the latest design. Thanks @Crevox</li>
          <li>[New] Added Stats to Re:Build Simulator</li>
        </ul>
      </div>
    </div>
  </div>

</div>
