<div class="row" *ngIf="equipment && (equipment.Stat_ATTACK_PHYSICAL_MIN || equipment.Stat_ATTACK_MAGICAL || equipment.Stat_DEFENSE_PHYSICAL || equipment.Stat_DEFENSE_MAGICAL)">
  <div class="col">
    <div class="w-100"><hr></div>

    <div class="row" *ngIf="equipment.Stat_ATTACK_PHYSICAL_MIN != 0 || equipment.Stat_ATTACK_PHYSICAL_MAX != 0">
      <div class="col text-left tos-icon tos-icon-attack"><b>Physical Attack</b></div>
      <div class="col text-right">{{ equipment.Stat_ATTACK_PHYSICAL_MIN }}~{{ equipment.Stat_ATTACK_PHYSICAL_MAX}}</div>
    </div>

    <div class="row" *ngIf="equipment.Stat_ATTACK_MAGICAL != 0">
      <div class="col text-left tos-icon tos-icon-attack"><b>Magic Attack</b></div>
      <div class="col text-right">{{ equipment.Stat_ATTACK_MAGICAL }}</div>
    </div>

    <div class="row" *ngIf="equipment.Stat_DEFENSE_PHYSICAL != 0">
      <div class="col text-left tos-icon tos-icon-defense"><b>Physical Defense</b></div>
      <div class="col text-right">{{ equipment.Stat_DEFENSE_PHYSICAL }}</div>
    </div>

    <div class="row" *ngIf="equipment.Stat_DEFENSE_MAGICAL != 0">
      <div class="col text-left tos-icon tos-icon-defense"><b>Magic Defense</b></div>
      <div class="col text-right">{{ equipment.Stat_DEFENSE_MAGICAL }}</div>
    </div>
  </div>
</div>
