html {
  height: 100%;
}
body {
  position: relative;
  min-height: 100%;
  padding-bottom: 8rem;
}

.carousel:focus {
  outline: initial;
}
.carousel-control-next,
.carousel-control-prev {
  cursor: pointer;
}
.carousel-indicators li {
  background: rgba(255, 255, 255, 0.25);
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.page-link:not([aria-label]) {
  min-width: 50px;
  text-align: center;
}

.pointer-disable {
  pointer-events: none;
}

.text-multiline {
  white-space: pre-wrap !important;
}
.text-outline {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.tos-icon::after,
.tos-icon::before {
  display: inline-block;
  background-size: contain;
  vertical-align: top;
  content: '';
}

.tos-icon-attack::before {
  height: 23px;
  width: 23px;
  margin-right: 4px;
  background-image: url('/assets/images/equipment_stat_attack.png');
}

.tos-icon-defense::before {
  height: 23px;
  width: 23px;
  margin-right: 4px;
  background-image: url('/assets/images/equipment_stat_defense.png');
}

.tos-icon-price::after {
  height: 18px;
  width: 18px;
  margin-left: 4px;
  background-image: url('/assets/icons/icon_item_silver.png');
}

.tos-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
