<div class="mb-4" id="top">
  <div class="row">
    <!-- Filter -->
    <app-entity-list-filter class="form-group col-md-6 col-xl-8"
                            [config]="config.filter"
                            [disabled]="search"
                            [model]="pageFilter"
                            (modelChange)="onFilterChange($event)"
                            *ngIf="config.filter">
    </app-entity-list-filter>

    <!-- Search -->
    <div class="form-group col-md-6 col-xl-4" [ngClass]="{ 'm-auto': !config.filter }">
      <label>Search</label>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Name, ClassID, ClassName" [(ngModel)]="searchText" (ngModelChange)="onSearchChange($event)" (keyup.esc)="onSearchToggle()">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button" [disabled]="!search" (click)="onSearchToggle()">
            <fa-icon [icon]="['fas', 'times-circle']"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Table -->
<table class="table table-hover">
  <thead>
    <tr tosSortGroup [ngModel]="pageSort" (ngModelChange)="onSortChange($event)" [disabled]="search">
      <th *ngFor="let column of config.tableColumns"
          [ngClass]="{
            'd-none': column.isNotMobile || column.isNotTablet,
            'd-sm-table-cell': column.isNotMobile,
            'd-lg-table-cell': column.isNotTablet,
            'pl-1': [TOSListTableColumnType.ICON, TOSListTableColumnType.ICON_LINK].includes(column.type),
            'pr-1': [TOSListTableColumnType.ICON, TOSListTableColumnType.ICON_LINK].includes(column.type)
          }"
          tosSort
          [column]="column.value"
          [label]="column.label"
          [width]="column.isWide ? '' : 1" scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <a *ngFor="let row of data" class="d-table-row"
       [routerLink]="row.Url"
       (mouseenter)="tooltip = row"
       (mouseleave)="tooltip = null" >
      <td *ngFor="let column of config.tableColumns"
          [ngClass]="{
            'd-none': column.isNotMobile || column.isNotTablet,
            'd-sm-table-cell': column.isNotMobile,
            'd-lg-table-cell': column.isNotTablet,
            'p-1': [
              TOSListTableColumnType.ICON,
              TOSListTableColumnType.ICON_LINK,
              TOSListTableColumnType.ICON_LINK_VALUE
            ].includes(column.type)
          }"
          [style.whiteSpace]="column.isWide ? '' : 'nowrap'">

        <div *ngIf="column.type == TOSListTableColumnType.BADGE" class="text-center text-sm-left">
          <span>
            <span class="tos-equipment-grade mr-sm-1" [style.background]="column.transformColor(row[column.value])"></span>
            <span class="d-none d-sm-table-cell">{{ row[column.value] }}</span>
          </span>
        </div>

        <div *ngIf="column.type == TOSListTableColumnType.ICON" class="text-center">
          <img height="40" width="40"
               [src]="column.transformIcon ? column.transformIcon(row) : row[column.value]"
               [title]="(column.transformIcon ? column.transformIcon(row) : row[column.value]) != row[column.value] ? row[column.value] : ''" />
        </div>

        <div *ngIf="column.type == TOSListTableColumnType.ICON_LINK" class="text-right">
          <a *ngFor="let link of (column.transformValue ? column.transformValue(row[column.value]) : row[column.value]); let i = index"
             [routerLink]="link.Url">
            <img height="40"
                 width="40"
                 [ngClass]="{ 'pr-1': i < (column.transformValue ? column.transformValue(row[column.value]) : row[column.value]).length - 1 }"
                 [routerLink]="link.Url"
                 [src]="link.Icon"
                 (click)="false"
                 (mouseenter)="tooltip = link"
                 (mouseleave)="tooltip = row" />
          </a>
        </div>

        <div *ngIf="column.type == TOSListTableColumnType.ICON_LINK_VALUE" class="text-right">
          <a *ngFor="let link of row[column.value]"
             class="d-inline-block tos-image position-relative pr-1"
             style="height: 40px; width: 40px; box-sizing: content-box"
             [style.backgroundImage]="'url(\'' + column.transformLink(link)?.Icon + '\')'"
             [routerLink]="column.transformLink(link)?.Url"
             (click)="false"
             (mouseenter)="tooltip = column.transformLink(link)"
             (mouseleave)="tooltip = row">
            <span class="position-absolute text-outline text-white"
                  style="bottom: 0; right: 0.25rem;">{{ column.transformValue(link) }}</span>
          </a>

        </div>

        <span *ngIf="column.type == TOSListTableColumnType.TEXT">
          {{ row[column.value] }}
        </span>

        <span *ngIf="column.type == TOSListTableColumnType.TEXT_MULTILINE" class="text-multiline">
          {{ row[column.value] }}
        </span>

        <div *ngIf="column.type == TOSListTableColumnType.TEXT_NUMBER" class="text-right">
          {{ row[column.value] | number }}
        </div>

      </td>
    </a>
  </tbody>
</table>

<!-- Pagination -->
<ngb-pagination
  class="d-flex justify-content-center"
  [collectionSize]="dataSize"
  [page]="page"
  [pageSize]="pageSize"
  [maxSize]="5"
  [boundaryLinks]="true"
  [ellipses]="false"
  [rotate]="true"
  (pageChange)="onPageChange($event)"
>
</ngb-pagination>

<!-- Tooltip -->
<app-entity-tooltip class="d-none d-md-block"
                    [debug]="false"
                    [tooltip]="tooltip"></app-entity-tooltip>
