<!-- Filter -->
<div id="top">
  <div class="row mb-4" *ngIf="config?.filter">
    <app-entity-list-filter class="form-group col"
                            [config]="config.filter"
                            [model]="pageFilter"
                            (modelChange)="onFilterChange($event)">
    </app-entity-list-filter>
  </div>
</div>

<!-- Table -->
<tos-entity-table [columns]="config.tableColumns"
                  [data]="data"
                  [sort]="pageSort"
                  (sortChange)="onSortChange($event)"
></tos-entity-table>

<!-- Pagination -->
<ngb-pagination
  class="d-flex justify-content-center"
  [collectionSize]="dataSize"
  [page]="page"
  [pageSize]="pageSize"
  [maxSize]="5"
  [boundaryLinks]="true"
  [ellipses]="false"
  [rotate]="true"
  (pageChange)="onPageChange($event)"
>
</ngb-pagination>
