<div class="w-100"><hr></div>
<h5 *ngIf="card">Stats (Card Battle)</h5>
<h5 *ngIf="monster">Stats</h5>

<div *ngIf="card">
  <div class="row text-center">
    <div class="col">
      <table class="table table-borderless table-sm mb-0">
        <thead>
        <tr class="table-primary">
          <th scope="col">Height</th>
          <th scope="col">Legs</th>
          <th scope="col">Weight</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{ card.Stat_Height | number }}</td>
          <td>{{ card.Stat_Legs | number }}</td>
          <td>{{ card.Stat_Weight | number }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div *ngIf="monster">
  <div class="row text-center">
    <div class="col">
      <table class="table table-borderless table-sm">
        <thead>
        <tr class="table-primary">
          <th scope="col">STR</th>
          <th scope="col">CON</th>
          <th scope="col">INT</th>
          <th scope="col">SPR</th>
          <th scope="col">DEX</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{ monster.Stat_STR | number }}</td>
          <td>{{ monster.Stat_CON | number }}</td>
          <td>{{ monster.Stat_INT | number }}</td>
          <td>{{ monster.Stat_SPR | number }}</td>
          <td>{{ monster.Stat_DEX | number }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row text-center">
    <div class="col">
      <table class="table table-borderless table-sm">
        <thead>
        <tr class="table-primary">
          <th scope="col">Accuracy</th>
          <th scope="col">Evasion</th>
          <th scope="col">Defense</th>
          <th scope="col">Magic Defense</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{ monster.Stat_Accuracy | number }}</td>
          <td>{{ monster.Stat_Evasion | number }}</td>
          <td>{{ monster.Stat_DEFENSE_PHYSICAL | number }}</td>
          <td>{{ monster.Stat_DEFENSE_MAGICAL | number }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row text-center">
    <div class="col">
      <table class="table table-borderless table-sm">
        <thead>
        <tr class="table-primary">
          <th scope="col">Critical Damage</th>
          <th scope="col">Critical Defense</th>
          <th scope="col">Critical Rate</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{ monster.Stat_CriticalDamage | number }}</td>
          <td>{{ monster.Stat_CriticalDefense | number }}</td>
          <td>{{ monster.Stat_CriticalRate | number }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row text-center">
    <div class="col">
      <table class="table table-borderless table-sm mb-0">
        <thead>
        <tr class="table-primary">
          <th scope="col">Block Penetration</th>
          <th scope="col">Block Rate</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{ monster.Stat_BlockPenetration | number }}</td>
          <td>{{ monster.Stat_BlockRate | number }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
