<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="https://tos.guru/assets/flatly.lib.css">
</head>
<body>
    <div class="row">
        <h1>#{Name}#</h1>
    </div>
    <div class="row">
        <div class="col lg-6">
            <img src="#{Icon}#" />
            <hr/>
            <div><span>Magical Attack:&nbsp;</span><span>#{Stat_ATTACK_MAGICAL}#</span></div>
            <div><span>Maximum Physical Attack:&nbsp;</span><span>#{Stat_ATTACK_PHYSICAL_MAX}#</span></div>
            <div><span>Minimum Physical Attack:&nbsp;</span><span>#{Stat_ATTACK_PHYSICAL_MIN}#</span></div>
            <div><span>Magical Defense:&nbsp;</span><span>#{Stat_DEFENSE_MAGICAL}#</span></div>
            <div><span>Physical Defense:&nbsp;</span><span>#{Stat_DEFENSE_PHYSICAL}#</span></div>
            <hr/>
            <div><span>HP:&nbsp;</span><span>#{Stat_HP}#</span></div>
            <div><span>SP:&nbsp;</span><span>#{Stat_SP}#</span></div>
            <div><span>EXP:&nbsp;</span><span>#{EXP}#</span></div>
            <div><span>Class EXP:&nbsp;</span><span>#{EXPClass}#</span></div>
        </div>
        <div class="col lg-6">
            <div>
                <h3>Description</h3>
                <p>#{Description}#</p>
            </div>
            <div>
                <h3>Information</h3>
                <div><span>Level:&nbsp;</span><span>#{Level}#</span></div>
                <div><span>Size:&nbsp;</span><span>#{Size}#</span></div>
                <div><span>Element:&nbsp;</span><span>#{Element}#</span></div>
                <div><span>Race:&nbsp;</span><span>#{Race}#</span></div>
            </div>
            <div>
                <h3>Stats</h3>
                <div><span>STR:&nbsp;</span><span>#{Stat_STR}#</span></div>
                <div><span>CON:&nbsp;</span><span>#{Stat_CON}#</span></div>
                <div><span>INT:&nbsp;</span><span>#{Stat_INT}#</span></div>
                <div><span>SPR:&nbsp;</span><span>#{Stat_SPR}#</span></div>
                <div><span>DEX:&nbsp;</span><span>#{Stat_DEX}#</span></div>
                <div><span>Accuracy:&nbsp;</span><span>#{Stat_Accuracy}#</span></div>
                <div><span>Evasion:&nbsp;</span><span>#{Stat_Evasion}#</span></div>
                <div><span>Defense:&nbsp;</span><span>#{Stat_DEFENSE_PHYSICAL}#</span></div>
                <div><span>Magic Defense:&nbsp;</span><span>#{Stat_DEFENSE_MAGICAL}#</span></div>
                <div><span>Critical Damage:&nbsp;</span><span>#{Stat_CriticalDamage}#</span></div>
                <div><span>Critical Defense:&nbsp;</span><span>#{Stat_CriticalDefense}#</span></div>
                <div><span>Critical Rate:&nbsp;</span><span>#{Stat_CriticalRate}#</span></div>
                <div><span>Block Penetration:&nbsp;</span><span>#{Stat_BlockPenetration}#</span></div>
                <div><span>Block Rate:&nbsp;</span><span>#{Stat_BlockRate}#</span></div>
            </div>
        </div>
    </div>
</body>
</html>