<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand mr-4 p-0 order-0" [routerLink]="routerLink('')">
    <img src="assets/images/logo_tos.png" height="47" style="transform: scale(1.25)" />
  </a>
  <div class="navbar-expand m-auto m-md-0 order-3 order-md-1 pb-2 pb-md-0 pt-3 pt-md-0">
    <ul class="navbar-nav">
      <!--
        <a class="dropdown-item" style="color: grey" routerLink="game/achievements">Achievements</a>
        <a class="dropdown-item" style="color: grey" routerLink="game/treasures">Treasure Chests</a>
        <a class="dropdown-item" style="color: grey" routerLink="game/exp">EXP Tables</a>
        <a class="dropdown-item" style="color: grey" routerLink="game/npcs">NPCs</a>
        <a class="dropdown-item" style="color: grey" routerLink="game/quests">Quests</a>
        <a class="dropdown-item" style="color: grey" routerLink="game/world">World Map</a>
      -->

      <li class="nav-item">
        <a class="nav-link dropdown-toggle" href="javascript:void(0);" routerLinkActive="active">
          Database <span class="badge badge-danger">New</span>
          <div class="dropdown-menu">
            <a class="dropdown-item" [routerLink]="routerLink('/database/achievements')">Achievements</a>
            <a class="dropdown-item" [routerLink]="routerLink('/database/attributes')">Attributes</a>
            <a class="dropdown-item" [routerLink]="routerLink('/database/classes')">Classes</a>
            <div class="dropdown-item dropdown-toggle-sub">
              <a href="javascript:void(0);" style="color: inherit">Items</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" [routerLink]="routerLink('/database/items/weapons')">Weapons</a>
                <a class="dropdown-item" [routerLink]="routerLink('/database/items/armor')">Armor</a>
                <a class="dropdown-item" [routerLink]="routerLink('/database/items/consumables')">Consumables</a>
                <a class="dropdown-item" [routerLink]="routerLink('/database/items/accessories')">Accessories</a>
                <a class="dropdown-item" [routerLink]="routerLink('/database/items/accessories-hair')">Hair Accessories</a>
                <a class="dropdown-item" [routerLink]="routerLink('/database/items/recipes')">Recipes</a>
                <a class="dropdown-item" [routerLink]="routerLink('/database/items/cards')">Cards</a>
                <a class="dropdown-item" [routerLink]="routerLink('/database/items/materials')">Materials</a>
                <a class="dropdown-item" [routerLink]="routerLink('/database/items/materials-gear')">Special Gear Materials</a>
                <a class="dropdown-item" [routerLink]="routerLink('/database/items/gems')">Gems</a>
                <a class="dropdown-item" [routerLink]="routerLink('/database/items/appearance')">Appearance</a>
                <a class="dropdown-item" [routerLink]="routerLink('/database/items/appearance-equipment')">Appearance Equipment</a>
                <a class="dropdown-item" [routerLink]="routerLink('/database/items/premium')">Premium</a>
              </div>
            </div>
            <a class="dropdown-item" [routerLink]="routerLink('/database/maps')">Maps</a>
            <a class="dropdown-item" [routerLink]="routerLink('/database/npcs')">NPCs</a>
            <a class="dropdown-item" [routerLink]="routerLink('/database/quests')">Quests</a>
            <a class="dropdown-item" [routerLink]="routerLink('/database/skills')">Skills</a>
            <a class="dropdown-item" [routerLink]="routerLink('/database/effects')">Status Effects</a>
          </div>
        </a>

      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="routerLink('simulator')" routerLinkActive="active">Skill Simulator</a>
      </li>

      <li class="nav-item d-lg-none">
        <a class="nav-link" (click)="isOpenSearch = !isOpenSearch">
          &nbsp;<fa-icon [icon]="faSearch"></fa-icon>&nbsp;
        </a>
      </li>

    </ul>
  </div>

  <div class="d-none d-lg-block flex-grow-1 justify-content-center mt-3 mt-lg-0 order-5 order-lg-3"
       [ngClass]="{ 'd-flex': isOpenSearch }">
      <tos-header-search class="flex-grow-1 ml-lg-3 mr-lg-3"></tos-header-search>
  </div>

  <div class="order-2 w-100 d-md-none"></div>
  <div class="order-4 w-100 d-lg-none"></div>

  <div class="navbar-expand order-1 order-md-3">
    <ul class="navbar-nav align-items-center">
      <!-- Language selector -->
      <li class="nav-item" *ngIf="LANGUAGES[regionSelected].length > 1">
        <a class="nav-link dropdown-toggle" href="javascript:void(0);" style="line-height: 15px; text-transform: initial;">
          <ng-template [ngTemplateOutlet]="templateFlag"
                       [ngTemplateOutletContext]="{ flag: TOSLanguageService.toFlag(languageSelected), label: TOSLanguageService.toHuman(languageSelected) }">
          </ng-template>
          <div class="dropdown-menu dropdown-menu-right">
            <a *ngFor="let language of LANGUAGES[regionSelected]" class="dropdown-item"
               [href]="'#' + language"
               [ngClass]="{ 'active': language == languageSelected }"
               (click)="languageSelect(language)">
              <ng-template [ngTemplateOutlet]="templateFlag"
                           [ngTemplateOutletContext]="{ flag: TOSLanguageService.toFlag(language), label: TOSLanguageService.toHuman(language) }">
              </ng-template>
            </a>
          </div>
        </a>
      </li>

      <!-- Region selector -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="javascript:void(0);" style="line-height: 15px; text-transform: initial;">
          <ng-template [ngTemplateOutlet]="templateFlag"
                       [ngTemplateOutletContext]="{ flag: TOSRegionService.toFlag(regionSelected), label: TOSRegionService.toHuman(regionSelected) }">
          </ng-template>
          <div class="dropdown-menu dropdown-menu-right">
            <a *ngFor="let region of REGIONS" class="dropdown-item"
               [href]="'#' + region"
               [ngClass]="{ 'active': region == regionSelected }"
               (click)="regionSelect(region)">
              <ng-template [ngTemplateOutlet]="templateFlag"
                           [ngTemplateOutletContext]="{ flag: TOSRegionService.toFlag(region), label: TOSRegionService.toHuman(region) }">
              </ng-template>
            </a>
          </div>
        </a>
      </li>

      <!-- Check for updates (manually) -->
      <a class="nav-item" (click)="updateCheck(true)" ngbTooltip="Check for updates" placement="bottom">
        <fa-icon class="nav-link" [icon]="faSync"></fa-icon>
      </a>

      <!-- Theme selector -->
      <a class="nav-item" (click)="theme.toggle()" [ngbTooltip]="(theme.is(Theme.LIGHT) ? 'Dark' : 'Light') + ' Theme'" placement="bottom">
        <fa-icon class="nav-link" [icon]="theme.is(Theme.LIGHT) ? faMoon : faSun"></fa-icon>
      </a>
    </ul>
  </div>

</nav>

<!-- Patreon -->
<div class="d-flex text-left pl-4 pr-4 pt-1 pb-1 mb-0 w-100" style="background: #f96854" *ngIf="patrons">
  <a class="flex-grow-1 text-white" [routerLink]="routerLink('patreon')">
    <span>Thanks &nbsp;</span>
    <span *ngFor="let patron of patrons; index as i"><b>{{ patron }}</b><span *ngIf="i < patrons.length - 1">,</span>&nbsp;</span>
    <span><span *ngIf="patronsCount > 0">and <b>{{ patronsCount }}&nbsp;</b></span>other patrons for supporting tos.guru!</span>
  </a>
  <div class="d-flex align-items-center text-white" style="cursor: pointer" (click)="patreonDismiss()">
    <span class="d-none d-sm-inline pl-1">Dismiss</span>&nbsp;
    <fa-icon class="pl-3" [icon]="faTimes"></fa-icon>
  </div>
</div>

<!-- Update status -->
<div class="text-center text-white text-sm-left pl-4 pr-4 pt-1 pb-1 mb-0 w-100 bg-secondary" *ngIf="isUpdateCheck && isUpdateCheckManual && !isUpdateAvailable">
  Checking for updates...
</div>
<div class="text-center text-white text-sm-left pl-4 pr-4 pt-1 pb-1 mb-0 w-100 bg-info" *ngIf="isUpdateInstall">
  Updating... The page will automatically refresh when it finishes
</div>
<a class="text-center text-white text-sm-left pl-4 pr-4 pt-1 pb-1 mb-0 w-100 bg-info d-block" *ngIf="isUpdateAvailable && !isUpdateInstall"
   href="#update" (click)="updateInstall($event)">
  A new update is available. Click to install
</a>

<ng-template #templateFlag let-flag="flag" let-label="label">
  <span class="d-inline-flex align-items-center justify-content-center">
    <span class="flag" [ngClass]="flag"></span>&nbsp;
    <span>{{ label }}</span>
  </span>
</ng-template>
